<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sign Up Administrador</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>

    label {
      padding-top: 5px;
    }
    h2 {
      margin: 0;
    }

    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .alert {
      margin-top: 5px;
      display:inline-block;
      vertical-align: middle;
      height: 50%;
      padding: 1px;
      margin-top: 1%;
      margin-bottom: 1%;
    }
  </style>

</head>
<body>

<hr>
<h2><strong>Inicio Sesión</strong></h2>
<hr>
<br>
<br>

<%= form_tag(action: 'login_attempt') do %>
  <div class="row">

    <div class="col-lg-4 col-md-3 hidden-sm hidden-xs"></div>
    <div class="well form-horizontal col-lg-4 col-md-6 col-sm-12 col-xs-12">

      <div class="row">
        <p class="col-lg-4 col-md-4 text-left">
          <strong>Usuario o Correo</strong>
        </p>
        <p class="col-lg-8 col-md-8 text-left pull-left">
          <%= text_field_tag :username_or_email, nil, style: "width:85%"%>
        </p>
      </div>

      <div class="row">
        <p class="col-lg-4 col-md-4 text-left">
          <strong>Contraseña </strong>
        </p>
        <p class="col-lg-8 col-md-8 text-left pull-left">
          <%= password_field_tag :login_password, nil, style: "width:85%"%></p>
        </p>
      </div>
      <% if alert %>
        <div class="row">
          <p class="col-lg-12 col-md-12 alert alert-danger">
            <strong><%= alert %></strong>
          </p>
        </div>
      <% end %>

    </div>
    <div class="col-lg-4 col-md-3 hidden-sm hidden-xs"></div>
  </div>

  <div class="actions">
    <%= submit_tag 'Ingresar', class: "btn btn-success btn-lg" %>
  </div>
<% end %>


</body>
</html>
