<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' >
</head>
<body>

<% if !@no_data.blank? %>
  <strong><p style='color: red;'><%=@no_data%></p></strong>
<% end %>

<h4><strong>Estimado(a) <%= @supervisor+"," %></strong></h4>

<p>
<%=@body%>
</p>

<%= render partial: '/layouts/email_supervisor' %>

<br>

<p>
Haga click <%= link_to "AQUÍ", requests_url+"/validations/"+@n_link%> para acceder a la solicitud. 
</p>

<br>

<p>
<strong>Atte,</strong><br />
<strong>Administrador Web Dispositivos y Servicios Móviles | solcelulares@ccu.cl</strong>
</p>

</body>
</html>
