<%= form_with(model: smartphone, local: true) do |form| %>

  <div class="well form-horizontal">

    <div class="row">
      <p class="col-md-4 text-left">
        <strong>Id: </strong>
        <%= @smartphone.id %>
      </p>
      <p class="user col-md-4 text-left">
        <strong>Código: </strong>
        <%= form.text_field :code, id: :smartphone_code, class: "pull-right" %>
      </p>
      <p class=" user col-md-4 text-left">
        <strong>Imei: </strong>
        <%= form.text_field :imei, id: :smartphone_imei, class: "pull-right" %>
      </p>
    </div>

    <div class="row">
      <p class="col-md-4 text-left">
        <strong>Modelo: </strong>
        <%= form.text_field :model, id: :smartphone_model, class: "pull-right" %>
      </p>
      <p class="user col-md-4 text-left">
        <strong>Categoría: </strong>
        <%= form.text_field :category, id: :smartphone_category, class: "pull-right" %>
      </p>
      <p class=" user col-md-4 text-left">
        <strong>Estado: </strong>
        <%= form.text_field :state, id: :smartphone_state, class: "pull-right" %>
      </p>
    </div>

    <div class="row">
      <p class="col-md-4 text-left">
        <strong>n° Telefónico:</strong>
        <%= form.text_field :phone_number, id: :smartphone_phone_number, class: "pull-right"  %>
      </p>
      <p class="user col-md-4 text-left">
        <strong>Precio: </strong>
        <%= form.number_field :price, id: :smartphone_price, class: "pull-right"  %>
      </p>
      <p class=" user col-md-4 text-left">
        <strong>Disponible: </strong>
        <%= form.text_field :available, id: :smartphone_available, class: "pull-right"  %>
      </p>
    </div>

    <div class="row">
      <p class="user col-md-4 text-left">
        <strong>Pais:</strong>
        <%= form.text_field :country, id: :smartphone_country, class: "pull-right"  %>
      </p>
        <p class="col-md-6 text-left">
        <strong>Renovación:</strong>
        <%= form.datetime_select :renovation_at, id: :smartphone_renovation_at, order: [:day, :month, :year], class: "pull-right"  %>
        <p class=" user col-md-2 text-left"> </p>
    </div>


    <br>
    <div class="actions">
      <%= form.submit 'Editar', onclick: "return confirm('Está seguro que desea Editar el Smartphone')",
      class: "btn btn-primary btn-md" %>
    </div>
  </div>


<% end %>
