<%= form_with(model: smartphone, local: true) do |form| %>

<div class="row">
  <div class="col-md-2"></div>
  <div class="well form-horizontal col-md-8">

    <div class="row">
      <p class="col-md-1 text-left">
        <strong>Id: </strong>
      </p>
      <p class="col-md-3 text-left">
        <%= @smartphone.id %>
      </p>
      <p class="user col-md-1 text-left">
        <strong>Código: </strong>
      </p>
      <p class="col-md-3">
        <%= form.text_field :code, id: :smartphone_code, class: "pull-left",
        style: "width:150px" %>
      </p>
      <p class=" user col-md-1 text-left">
        <strong>Imei: </strong>
      </p>
      <p class="col-md-3">
        <%= form.text_field :imei, id: :smartphone_imei, class: "pull-left",
        style: "width:150px" %>
      </p>
    </div>

    <div class="row">
      <p class="col-md-1 text-left">
        <strong>Modelo: </strong>
      </p>
      <p class="user col-md-3">
        <%= form.text_field :model, id: :smartphone_model, class: "pull-left",
        style: "width:150px" %>
      </p>
      <p class="user col-md-1 text-left">
        <strong>Categoría: </strong>
      </p>
      <p class="user col-md-3">
        <%= form.text_field :category, id: :smartphone_category, class: "pull-left",
        style: "width:150px" %>
      </p>
      <p class=" user col-md-1 text-left">
        <strong>Estado: </strong>
      </p>
      <p class=" user col-md-3">
        <%= form.text_field :state, id: :smartphone_state, class: "pull-left",
        style: "width:150px" %>
      </p>
    </div>

    <div class="row">
      <p class="col-md-1 text-left">
        <strong>n° Teléfono:</strong>
      </p>
      <p class="col-md-3">
        <%= form.text_field :phone_number, id: :smartphone_phone_number, class: "pull-left",
        style: "width:150px"  %>
      </p>
      <p class="user col-md-1 text-left">
        <strong>Precio: </strong>
      </p>
      <p class="col-md-3">
        <%= form.number_field :price, id: :smartphone_price, class: "pull-left",
        style: "width:150px"  %>
      </p>
      <p class=" user col-md-1 text-left">
        <strong>Disponible: </strong>
      </p>
      <p class="col-md-3">
        <%= form.text_field :available, id: :smartphone_available, class: "pull-left",
        style: "width:150px"  %>
      </p>
    </div>

    <div class="row">
      <p class="user col-md-1 text-left">
        <strong>Pais:</strong>
      </p>
      <p class="col-md-3">
        <%= form.text_field :country, id: :smartphone_country, class: "pull-left",
        style: "width:150px"  %>
      </p>
      <p class="col-md-1 text-left">
        <strong>Renovación:</strong>
      </p>
      <p class="col-md-7">
        <%= form.datetime_select :renovation_at, {order: [:day, :month, :year]},
        {id: :smartphone_renovation_at}  %>
      </p>
    </div>

    <br>
    <div class="actions">
      <% if params[:action] == 'new'%>
        <%= form.submit 'Crear', onclick: "return confirm('Está seguro que desea Crear el Smartphone')",
        class: "btn btn-primary btn-md" %>
      <% else %>
        <%= form.submit 'Editar', onclick: "return confirm('Está seguro que desea Editar el Smartphone')",
        class: "btn btn-primary btn-md" %>
      <% end %>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<% end %>
