<p id="notice"><%= notice %></p>

<h1>Smartphones</h1>

<table>
  <thead>
    <tr>
      <th>Model</th>
      <th>Category</th>
      <th>Last owner</th>
      <th>Imei</th>
      <th>Price</th>
      <th>State</th>
      <th>Available</th>
      <th>Last assign at</th>
      <th>Sim</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @smartphones.each do |smartphone| %>
      <tr>
        <td><%= smartphone.model %></td>
        <td><%= smartphone.category %></td>
        <td><%= smartphone.last_owner %></td>
        <td><%= smartphone.imei %></td>
        <td><%= smartphone.price %></td>
        <td><%= smartphone.state %></td>
        <td><%= smartphone.available %></td>
        <td><%= smartphone.last_assign_at %></td>
        <td><%= smartphone.sim %></td>
        <td><%= link_to 'Show', smartphone %></td>
        <td><%= link_to 'Edit', edit_smartphone_path(smartphone) %></td>
        <td><%= link_to 'Destroy', smartphone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Smartphone', new_smartphone_path %>
