<style>
  .alert {
    margin-top: 5px;
    display:inline-block;
    vertical-align: middle;
    height: 50%;
    padding: 1px;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  label {
    padding-top: 7px;
  }
  hr {
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 0px;
  }
  h3{
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0px;
  }
  .btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }
</style>

<%= render partial: '/layouts/user_filter' %>

<div class= "titulo">
  <hr>
  <h3><strong>Usuarios</strong></h3>
  <hr>
</div>

<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class= text-center><%= sort_link @search, :id, "id"%></th>
          <th scope="col" class= text-center><%= sort_link @search, :national_id, "RUT"%></th>
          <th scope="col" class= text-center><%= sort_link @search, :name, "Nombre"%> </th>
          <th scope="col" class= text-center><%= sort_link @search, :last_name, "Apellidos"%> </th>
          <th scope="col" class= text-center><%= sort_link @search, :jobtitle, "Cargo"%></th>
          <th scope="col" class= text-center><%= sort_link @search, :job_family, "Familia Cargo"%></th>
          <th scope="col" class= text-center><%= sort_link @search, :company, "Empresa"%> </th>
          <th scope="col" class= text-center><%= sort_link @search, :deptname, "Centro de Costos"%></th>
          <th scope="col" class= text-center><%= sort_link @search, :location, "Ubicación"%></th>
          <th scope="col" class= text-center>Usuario</th>
          <th scope="col" class= text-center>Editar</th>
          <th scope="col" class= text-center>Smartphone</th>
          <th scope="col" class= text-center>Bam</th>
          <th scope="col" class= text-center>Plan</th>
          <th scope="col" class= text-center>Sim</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.national_id %></td>
            <td><%= user.name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.jobtitle %></td>
            <td><%= user.job_family %></td>
            <td><%= user.company %></td>
            <td><%= user.deptname %></td>
            <td><%= user.location %></td>
            <td><%= link_to 'Usuario', user %></td>
            <td><%= link_to 'Editar', edit_user_path(user) %></td>
            <td>
              <% if (user.smartphone_id.present?) %>
                <%= link_to 'Smp', smartphone_path(user.smartphone_id) %>
              <%end%>
            </td>
            <td>
              <% if (user.bam_id.present?) %>
                <%= link_to 'Bam', bam_path(user.bam_id) %>
              <%end%>
            </td>
            <td>
              <% if (user.plan_id.present?) %>
                <%= link_to 'Plan', plan_path(user.plan_id) %>
              <%end%>
            </td>
            <td>
              <% if (user.sim_id.present?) %>
                <%= link_to 'Sim', sim_path(user.sim_id) %>
              <%end%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
