<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>National id</th>
      <th>Name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>JobTitle</th>
      <th>Company</th>
      <th>Supervisorl</th>
      <th>Supervisor email</th>
      <th>DeptName</th>
      <th>JobCode</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.national_id %></td>
        <td><%= user.name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.jobtitle %></td>
        <td><%= user.company %></td>
        <td><%= user.supervisor %></td>
        <td><%= user.supervisor_email %></td>
        <td><%= user.deptname %></td>
        <td><%= user.jobcode%></td>
        <td><%= user.location%></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
