<hr>
<h3><strong>Información Usuario</strong></h3>
<hr>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @user.national_id %>
</p>

<p>
  <strong>e-mail:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @user.jobtitle %>
</p>

<p>
  <strong>Familia de Cargo:</strong>
  <%= @user.jobtitle %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @user.company %>
</p>

<p>
  <strong>País:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>Supervisor:</strong>
  <%= @user.supervisor %>
</p>

<p>
  <strong>Correo del Supervisor:</strong>
  <%= @user.supervisor_email %>
</p>

<p>
  <strong>Centro de Costos:</strong>
  <%= @user.deptname %>
</p>

<p>
  <strong>Ubicación:</strong>
  <%= @user.location %>
</p>

<p>
  <strong>Smartphone Asignado:</strong>
  <%=@user.smartphone_id%>
</p>

<p>
  <strong>Bam Asignado:</strong>
  <%=@user.bam_id%>
</p>

<p>
  <strong>Sim Asignada:</strong>
  <%=@user.sim_id%>
</p>

<p>
  <strong>Plan Asignado:</strong>
  <%=@user.plan_id%>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
