<style>
    p {
      margin: 1px 0px 1px 0px;
    }
    .alert {
      margin-top: 5px;
      display:inline-block;
      vertical-align: middle;
      height: 50%;
      padding: 1px;
      margin-top: 1%;
      margin-bottom: 1%;
    }
</style>

<hr>
<h3><strong>Información Usuario</strong></h3>
<hr>

<div class="well form-horizontal">

  <div class="row">
    <div class="col-md-3"></div>
    <p class="col-md-3 text-left">
      <strong>Nombre:</strong>
      <%= @user.name %>
    </p>

    <p class="col-md-3 text-left">
      <strong>Apellidos:</strong>
      <%= @user.last_name %>
    </p>
    <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <p class="col-md-3 text-left">
    <strong>Rut:</strong>
    <%= @user.national_id %>
  </p>

  <p class="col-md-3 text-left">
    <strong>e-mail:</strong>
    <%= @user.email %>
  </p>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <p class="col-md-3 text-left">
    <strong>Cargo:</strong>
    <%= @user.jobtitle %>
  </p>

  <p class="col-md-3 text-left">
    <strong>Familia de Cargo:</strong>
    <%= @user.jobtitle %>
  </p>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <p class="col-md-3 text-left">
    <strong>Empresa:</strong>
    <%= @user.company %>
  </p>

  <p class="col-md-3 text-left">
    <strong>País:</strong>
    <%= @user.country %>
  </p>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <p class="col-md-3 text-left">
    <strong>Supervisor:</strong>
    <%= @user.supervisor %>
  </p>

  <p class="col-md-3 text-left">
    <strong>Correo Supervisor:</strong>
    <%= @user.supervisor_email %>
  </p>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <p class="col-md-3 text-left">
    <strong>Centro de Costos:</strong>
    <%= @user.deptname %>
  </p>

  <p class="col-md-3 text-left">
    <strong>Ubicación:</strong>
    <%= @user.location %>
  </p>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <p class="col-md-3 text-left">
    <strong>Smartphone Asignado:</strong>
    <%=@user.smartphone_id%>
  </p>

  <p class="col-md-3 text-left">
    <strong>Bam Asignado:</strong>
    <%=@user.bam_id%>
  </p>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <p class="col-md-3 text-left">
    <strong>Sim Asignada:</strong>
    <%=@user.sim_id%>
  </p>

  <p class="col-md-3 text-left">
    <strong>Plan Asignado:</strong>
    <%=@user.plan_id%>
  </p>
  <div class="col-md-3"></div>
</div>

<% if notice %>
<div class="row">
  <p class="col-md-4 text-left"></p>
  <p class="user col-md-4 alert alert-success">
       <strong> El Usuario fue editado exitosamente </strong>
  </p>
  <p class=" user col-md-4 text-left"></p>
</div>
<% elsif alert %>
<div class="row">
  <p class="col-md-2 text-left"></p>
  <p class="user col-md-8 alert alert-danger">
    <strong> Los siguientes errores impidieron finalizar la edición exitosamente: </strong>
    <% alert.each_pair do |k, v| %>
      <%= " | El campo "+k+" tiene el siguiente error: "+v[0] %>
    <% end %>
  </p>
  <p class=" user col-md-2 text-left"></p>
</div>
<% end %>

<hr>
| <%= link_to 'Editar', edit_user_path  %> | <%= link_to 'Usuarios', users_path  %> |
<%= link_to 'Solicitudes', requests_path%> |

</div>
