<!DOCTYPE html>
<html lang="en">
<head>
  <title>Solicitud Celulares CCU</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    .input {
      margin-top: 3px;
      margin-bottom: 5px;
    }
    .alert {
      margin-top: 5px;
      display:inline-block;
      vertical-align: middle;
      height: 50%;
      padding: 1px;
      margin-top: 1%;
      margin-bottom: 1%;
    }
  </style>
</head>

<body>

  <%= form_with url: '/requests/'+@request.link , method: "patch" do |form| %>

    <div class="col-md-3 col-xs-2"></div>
    <div class="well form-horizontal col-md-6 col-xs-8">

      <div class="row">
        <p class="user col-md-2 col-xs-3 text-left">
          <%= form.label :status, "Validación Supervisor:"%>
        </p>
        <p class="user col-md-4 col-xs-3 text-left">
          <%= @request.sup_approval %>
        </p>
        <p class="user col-md-2 col-xs-3 text-left">
          <%= form.label :classification, "Clasificación:" %>
        </p>
        <p class="user col-md-4 col-xs-3 text-left">
          <%= @request.classification %>
        </p>
      </div>

      <%if @request.classification == 'abierto' &&  @request.status != 'rechazada' &&
        @request.status != 'cancelada' &&  @request.status != 'finalizada' %>

        <div class="row">
          <p class="col-md-2 col-xs-3 text-left">
            <%= form.label :status, "Estado", class: "control-label" %>
          </p>
          <p class="col-md-4 col-xs-3">
            <%= form.select :status, [['Pendiente aprobación' , 'pendiente aprobacion' ],
            ['Cancelada','cancelada'], ['Pendiente entrega dispositivo','pendiente entrega dispositivo'],
            ['Pendiente cotización', 'pendiente cotizacion'], ['En reparaciones', 'en reparaciones'],
            ['Disponible para retiro', 'disponible para retiro'], ['Pendiente Nota de Pedido', 'pendiente nota de pedido'],
            ['Enviado a trabajador', 'enviado a trabajador'], ['Finalizada', 'finalizada']],
          {selected: @request.status}, {class: "pull-left", style: "width:100%"} %>
          </p>
          <p class="col-md-2 col-xs-3 text-left">
            <%= form.label :price, "Precio $", class: "control-label" %>
          </p>
          <p class="col-md-4 col-xs-3">
            <%= form.text_field :price, id: :request_price, class: "pull-left",
          value: @request.price, style: "width:100%" %>
          </p>
        </div>

        <div class="row">

        </div>

        <%if @request.contract? %>
          <div class="row">
            <p class="col-md-5 col-xs-5 text-left">
              <%= form.label :old_contract, "Nota de Pedido Actual", class: "control-label pull-left" %>
            </p>
            <p data-turbolinks="false" class="col-md-7 col-xs-7 text-left">
              <%= link_to "Download", controller: :requests, action: :download_contract, id: @request.n_request %>
            </p>
          </div>
        <%end%>

        <div class="row">
          <p class="col-md-5 col-xs-5 text-left">
            <%= form.label :contract, "Subir nueva Nota de Pedido", class: "control-label" %>
          </p>
          <p class="col-md-7 col-xs-7">
            <%= form.file_field :contract, multiple: false, name: "contract",
            accept: 'image/png,image/gif,image/jpeg', class: "pull-left" %>
          </p>
        </div>

        <br>
        <div class="actions">
          <%= form.submit 'Editar', onclick: "return confirm('Está seguro que desea Editar la Solicitud')", class: "btn btn-primary btn-md" %>
        </div>

      <% else %>

        <div class="row">
          <p class="user col-md-2 col-xs-3 text-left">
            <%= form.label :status, "Estado" %>
          </p>
          <p class=" user col-md-4 col-xs-3 text-left">
            <%= @request.status %>
          </p>
          <p class="user col-md-2 col-xs-3 text-left">
            <%= form.label :price, "Precio $" %>
          </p>
          <p class=" user col-md-4 col-xs-3 text-left">
            <%= @request.price %>
          </p>
        </div>

        <%if @request.contract? %>
          <div class="row">
            <p class="col-md-5 col-xs-5 text-left">
              <%= form.label :old_contract, "Nota de Pedido Actual", class: "control-label" %>
            </p>
            <p data-turbolinks="false" class="col-md-7 col-xs-7 text-left">
              <%= link_to "Download", controller: :requests, action: :download_contract, id: @request.n_request %>
            </p>
            <div class="col-md-4"></div>
          </div>
        <%end%>
        <div class="alert alert-danger">
          La Solicitud no puede ser editada ya que el estado de la solicitud es <strong> <%=@request.status%></strong>
        </div>

      <% end %>

      <hr>
      | <%= link_to 'Solicitud', requests_path+"/"+@request.link %> | <%= link_to 'Solicitudes', requests_path %> |
    </div>
    <div class="col-md-3 col-xs-2"></div>
  <% end %>

</body>
</html>
