<p id="notice"><%= notice %></p>
<hr>
<h1>Requests</h1>
<hr>

<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class= text-center>n° Solicitud</th>
          <th scope="col" class= text-center>Tipo Solicitud</th>
          <th scope="col" class= text-center>Item Solicitado</th>
          <th scope="col" class= text-center >Solicitud</th>
          <th scope="col" class= text-center>Estado</th>
          <th scope="col" class= text-center>Precio</th>
          <th scope="col" class= text-center>Fecha Creacion</th>
          <th scope="col" class= text-center>Fecha Cierre</th>
          <th scope="col" class= text-center>Solicitante</th>
          <th scope="col" class= text-center>Detalle</th>
          <th scope="col" class= text-center>Editar</th>
          <th scope="col" class= text-center>Eliminar</th>
        </tr>
      </thead>

      <tbody>
        <% @requests.each do |request| %>
          <tr>
            <td><%= request.n_request %></td>
            <td><%= request.request %></td>
            <td><%= request.item %></td>
            <td><%= request.email_sended %></td>
            <td><%= request.status %></td>
            <td><%= request.price %></td>
            <td><%= request.created_at %></td>
            <td><%= request.closed_at %></td>
            <td><%= link_to 'User', request.user %></td>
            <td><%= link_to 'Show', request %></td>
            <td><%= link_to 'Edit', edit_request_path(request) %></td>
            <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

<%= link_to 'New Request', new_request_path %>
