
<%= render partial: '/layouts/request_filter' %>

<div class= "titulo">
  <hr>
  <h3><strong>Solicitudes</strong></h3>
  <hr>
</div>

<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class= text-center><%= sort_link @search, :n_request, "n° Solicitud"%></th>
          <th scope="col" class= text-center><%= sort_link @search, :status, "Estado"%></th>
          <th scope="col" class= text-center><%= sort_link @search, :company, "Empresa"%> </th>
          <th scope="col" class= text-center><%= sort_link @search, :request, "Tipo Solicitud"%></th>
          <th scope="col" class= text-center><%= sort_link @search, :item, "Item Solicitado"%></th>
          <th scope="col" class= text-center><%= sort_link @search, :created_at, "Fecha Creacion"%></th>
          <th scope="col" class= text-center><%= sort_link @search, :closed_at, "Fecha Cierre"%></th>
          <th scope="col" class= text-center><%= sort_link @search, :sup_approval, "Aprobación"%></th>
          <th scope="col" class= text-center>Solicitud</th>
          <th scope="col" class= text-center>Precio</th>
          <th scope="col" class= text-center>Dias Transcurridos</th>
          <th scope="col" class= text-center>Solicitante</th>
          <th scope="col" class= text-center>Detalle</th>
          <th scope="col" class= text-center>Editar</th>
        </tr>
      </thead>

      <tbody>
        <% @requests.each do |request| %>
          <tr>
            <td><%= request.n_request %></td>
            <td><strong><%= request.status %></strong></td>
            <td><%= request.user.company %></td>
            <td><%= request.request %></td>
            <td><%= request.item %></td>
            <td><%= request.created_at.localtime.strftime('%d/%m/%Y %H:%M:%S') %></td>
            <td><%= request.closed_at.localtime.strftime('%d/%m/%Y %H:%M:%S') unless !request.closed_at %></td>
            <td><%= request.sup_approval %></td>
            <td><%= request.email_sended.truncate(50, separator: ',', omission: ' ...')  %></td>
            <td><%= request.price %></td>
            <% if request.closed_at %>
              <td><%= (request.closed_at.to_datetime - request.created_at.to_datetime).to_i %></td>
            <% else %>
              <td><%= (DateTime.now - request.created_at.to_datetime).to_i %></td>
            <% end %>
            <td><%= link_to 'Usuario', request.user %></td>
            <td><%= link_to 'Solicitud', requests_path+"/"+request.link %></td>
            <td><%= link_to 'Editar', requests_path+"/"+request.link+"/edit" %></td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
