<!DOCTYPE html>
<html lang="en">
<head>
  <title>Identifiación de Usuario y Solicitud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  </style>
  <%= javascript_include_tag "display_menus.min" %>
  <script type="text/javascript">
  $(document).ready(function(){
      $(".select_1").change(function(){
          $(this).find("option:selected").each(function(){
              var optionValue = $(this).attr("value");
              if(optionValue){
                  $(".box").not("." + optionValue).hide();
                  $("." + optionValue).show();
              } else{
                  $(".box").hide();
              }
          });
      }).change();
  });
  </script>
  <script type="text/javascript">
  $(document).ready(function(){
    $('input[name="sim?"]').change(function() {
      var selected = $('input:checked[name="sim?"]').val();
      if(selected == 'Si') {
          $('#new_number').show();
      } else {
          $('#new_number').hide();
      }
    }).change();
  });
  </script>

</head>
<body>

<div class="container-fluid">
  <h1><strong> Formulario </strong></h1>
  <hr>
  <h3> Formulario Nuevo </h3>
  <hr>

  <%= form_with model: @request, url: "create/new", method: "post" do |form| %>
    <div class="well form-horizontal">
      <!-- Cargar Informacion del usuario para mostrar -->
      <%= render partial: '/layouts/user_info', locals: {form: form} %>
    </div>
    <div class="well form-horizontal">
    <%= form.hidden_field :user_id, value: @user["id"] %>

    <!-- Obtener nueva informacion del Formulario -->
    <h4><strong> Datos de Solicitud</strong></h4>
    <hr>

    <div class="field-center">
    <%= form.label :request_type, 'Seleccione Requerimiento' %>
    <%= form.select :request_type, [['Smartphone', 1], ['Sim', 2], ['BAM', 3]], {},
    { :class => 'select_1' } %>
    </div>
    <br>

    <div class="field-center 1 box">
    <%= form.label :request_type, 'Seleccione Modelo Smartphone' %>
    <%= form.select :request_type, [['Galaxy J7', 1.1], ['Galaxy S5', 1.2], ['Iphone 6s', 1.3], ['Iphone X', 1.4]], {}, {onChange: puts('cambios')} %>
    </div>
    <br>
    <div class="field-center 1 box">
    <%= form.label :sim?, 'Desea Incluir Tarjeta Sim?' %>
    <%= form.collection_radio_buttons :sim?, [[1, 'Si'], [2, 'No']], :first, :last,
    :item_wrapper_class => 'inline', checked: true %>
    </div>

    <div id= "new_number", class="field-center 1 box">
    <%= form.label :new_number, 'Desea Numero nuevo...?'%>
    </div>


    <br>

    <div class="field-center 2 box">
    <%= form.label :request_type, 'Desea Numero nuevo?' %>
    </div>

    <div class="field-center 3 box">
    <%= form.label :request_type, 'Seleccione Modelo BAM' %>
    </div>



    </div>
    <br>
    <!-- Enviar Formulario -->
    <%= form.submit 'Enviar', class: "btn btn-success btn-lg" %>
  <% end %>

</div>

</body>
</html>
