<!DOCTYPE html>
<html lang="en">
<head>
  <title>Identifiación de Usuario y Solicitud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  </style>
</head>
<body>

<div class="container-fluid">
  <h1><strong> Formulario </strong></h1>
  <hr>
  <h3> Formulario Nuevo </h3>
  <hr>

  <%= form_with url: "create/new", method: "post" do |form| %>
    <div class="well form-horizontal">
      <!-- Cargar Informacion del usuario para mostrar -->
      <%= render partial: '/layouts/user_info', locals: {form: form} %>
    </div>
    <div class="well form-horizontal">
    <!-- Obtener nueva informacion del Formulario -->
    <%= form.hidden_field :user_id, value: @user["id"] %>
    <%= form.label :request_type, 'Seleccione ', class: "col-md-4 text-right" %>
    <%= form.select :request_type, [['Nuevo', 1], ['Renovación', 2], ['Pérdida', 3],
    ['Robo', 4], ['Reparación', 5]]%>
      <%= puts(:request_type)%>
      <%= puts(:request_type)%>
      <%= puts(:request_type)%>

    </div>
    <br>
    <!-- Enviar Formulario -->
    <%= form.submit 'Enviar', class: "btn btn-success btn-lg" %>
  <% end %>

</div>

</body>
</html>
