<!DOCTYPE html>
<html lang="en">
<head>
  <title>Identifiación de Usuario y Solicitud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  </style>
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "display_new" %>

</head>
<body>

<div class="container-fluid">
  <h1><strong> Formulario </strong></h1>
  <hr>
  <h3> Formulario Nuevo </h3>
  <hr>

  <%= form_with url: "/requests/forms/create/new", method: "post" do |form| %>
    <div class="well form-horizontal">
      <!-- Cargar Informacion del usuario para mostrar -->
      <%= render partial: '/layouts/user_info', locals: {form: form} %>
    </div>
    <div class="well form-horizontal">
      <%= form.hidden_field :user_id, value: @user["id"] %>

    <!-- Obtener nueva informacion del Formulario -->
    <h4><strong> Datos de Solicitud</strong></h4>
    <hr>

    <div class="field-center">
      <%= form.label :request, 'Seleccione Equipo' %>
      <%= form.select :request, [['Smartphone', 'smartphone'], ['Sim', 'sim'], ['BAM', 'bam']], {},
    { :class => 'select_1' } %>
    </div>

    <br>

    <div id= "models" class="field-center">
      <%= form.label :model, 'Seleccione Modelo Smartphone' %>
      <%= form.select :model, [['Galaxy J7', 1], ['Galaxy S5', 2], ['Iphone 6s', 3], ['Iphone X', 4]], {} %>
    </div>

    <div id= "bam_models" class="field-center">
      <%= form.label :bam_model, 'Seleccione Modelo BAM' %>
      <%= form.select :bam_model, [['Huawei E5573', 1], ['Huawei E8372', 2]], {} %>
    </div>

    <br>

    <div id= "want_sim" class="field-center">
      <%= form.label :want_sim, 'Desea Incluir Tarjeta Sim?' %>
      <%= form.collection_radio_buttons :want_sim, [[true, 'Si'], [false, 'No']], :first, :last,
    :item_wrapper_class => 'inline', checked: true%>
    </div>

    <br>

    <div id= "want_number" class="field-center">
      <%= form.label :want_new_number, 'Desea un número nuevo?'%>
      <%= form.collection_radio_buttons :want_new_number, [['true', 'Si'], ['false', 'No, quiero portar un numero']], :first, :last,
    :item_wrapper_class => 'inline', checked: true%>
    </div>

    <br>

    <div id= "number" class="field-center">
      <%= form.label :number, 'Ingrese Número: +56 9' %>
      <%= form.text_field :number %>
    </div>

    </div>
    <br>
    <!-- Enviar Formulario -->
    <div id= "submit">
      <%= form.submit 'Enviar', class: "btn btn-success btn-lg" %>
    </div>
  <% end %>

</div>

</body>
</html>
