<!DOCTYPE html>
<html lang="en">
<head>
  <title>Identifiación de Usuario y Solicitud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  </style>
</head>
<body>

<div class="container-fluid">
  <h1><strong> Formulario </strong></h1>
  <hr>
  <h3> Formulario Nuevo </h3>
  <hr>

  <%= form_with model: @request, url: "create/new", method: "post" do |form| %>
    <div class="well form-horizontal">
      <!-- Cargar Informacion del usuario para mostrar -->
      <%= render partial: '/layouts/user_info', locals: {form: form} %>
    </div>
    <div class="well form-horizontal">

    <%= form.hidden_field :user_id, value: @user["id"] %>
    <!-- Obtener nueva informacion del Formulario -->
    <div class="field-center">
    <%= form.label :request_type, 'Seleccione Requerimiento' %>
    <%= form.select :request_type, [['Smartphone', 1], ['Sim', 2], ['BAM', 3]], {}, {onChange: puts('cambios')} %>
    </div>

    </div>
    <br>
    <!-- Enviar Formulario -->
    <%= form.submit 'Enviar', class: "btn btn-success btn-lg" %>
  <% end %>

</div>

</body>
</html>
