<!DOCTYPE html>
<html lang="en">
<head>
  <title>Identifiación de Usuario y Solicitud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  </style>
  <%= javascript_include_tag "jquery.min" %>

  <script type="text/javascript">
  $(document).ready(function(){

    // Submit Event
    $("form").submit(function(e){
      var phone = $.trim($('input[name="number"]').val());
      var w_sim = $('input:checked[name="want_sim"]').val();
      var w_new_number = $('input:checked[name="want_new_number"]').val();
      var item = $("#item").val();
      
      if(( item == "smartphone" || item == "sim") && w_sim == 'true' && w_new_number == 'false'){
        console.log(item);
        if( phone.length != 8 || !$.isNumeric(phone)){
          alert('Ingrese número válido');
          e.preventDefault(e);
        }
      }
    });

  });
  </script>

</head>
<body>

<div class="container-fluid">
  <h1><strong> Formulario </strong></h1>
  <hr>
  <h3> Formulario Reposición </h3>
  <hr>

  <%= form_with url: "/requests/forms/create/new", method: "post" do |form| %>
    <div class="well form-horizontal">

      <%= form.hidden_field :item, value: @user["item"], id: "item" %>
      <%= form.hidden_field :user_id, value: @user["id"] %>

      <!-- Cargar Informacion del usuario para mostrar -->
      <%= render partial: '/layouts/user_info', locals: {form: form} %>
    </div>

      <% if @user["item"] == 'smartphone' %>
        <%= render partial: '/layouts/renew_smp', locals: {form: form} %>
      <% elsif @user["item"] == 'sim' %>
        <%= render partial: '/layouts/renew_sim', locals: {form: form} %>
      <% elsif @user["item"] == 'bam' %>
        <%= render partial: '/layouts/renew_bam', locals: {form: form} %>
      <% end %>
    <br>

    <!-- Enviar Formulario -->
    <div id= "submit">
    <%= form.submit 'Enviar', class: "btn btn-success btn-lg" %>
    </div>
  <% end %>

</div>

</body>
</html>
