<!DOCTYPE html>
<html lang="en">
<head>
  <title>Identifiación de Usuario y Solicitud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>

    .text_area {
      vertical-align: top;
    }

    h2 {
      margin: 0;
    }

    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    label {
      padding-top: 7px;
    }

    input[type="radio"]{
      margin: 10px 5px 0px 25px;
    }
    .alert {
      margin-top: 5px;
      display:inline-block;
      vertical-align: middle;
      height: 50%;
      padding: 1px;
      margin-top: 1%;
      margin-bottom: 1%;
    }
  </style>

  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "sweetalert-dev" %>
  <%= stylesheet_link_tag "sweetalert" %>

  <script type="text/javascript">
  $(document).ready(function(){

    // Submit Event
    $("form").submit(function(e){
      var phone = $.trim($('input[name="phone_number"]').val());
      var w_sim = $('input:checked[name="want_sim"]').val();
      var w_new_number = $("#want_number option:selected").val();
      var item = $("input[name=item]").val();
      var comment = $.trim($("#comment").val());
      var check = $("#checkbox").is(":checked");
      var same_number = $("input[name=same_number]").val();

      if(item == "smartphone" && w_sim == 'true'){
        if(w_new_number == 'port' && (phone.length != 8 || !$.isNumeric(phone))){
          swal({
            title: 'Datos Inválidos!',
            text: 'Ingrese número telefónico válido',
            type: 'error',
            confirmButtonText: 'Aceptar',
            confirmButtonColor: "#DD6B55",
          });
          e.preventDefault();
        }
        if(w_new_number == 'same' && (same_number.length != 8 || !$.isNumeric(same_number))){
          swal({
            title: 'Datos Inválidos!',
            text: 'Ingrese número telefónico válido',
            type: 'error',
            confirmButtonText: 'Aceptar',
            confirmButtonColor: "#DD6B55",
          });
          e.preventDefault();
        }
      }
      if(item == 'smartphone' && check == true && comment.length < 10){
          swal({
            title: 'Datos Inválidos!',
            text: 'Debes Ingresar una descripción de al menos 10 caracteres en el motivo de eleccion del modelo que has elegido',
            type: 'error',
            confirmButtonText: 'Aceptar',
            confirmButtonColor: "#DD6B55",
          });
          e.preventDefault();
        }
    });

  });
  </script>

</head>
<body>

<div class="container-fluid">
  <hr>
  <h2><strong> Formulario Renovar Equipo </strong></h2>
  <hr>

  <%= form_with url: "/requests/forms/create/new", method: "post" do |form| %>
    <div class="well form-horizontal">

      <%= form.hidden_field :item, value: @user["item"] %>
      <%= form.hidden_field :user_id, value: @user["id"] %>
      <%= form.hidden_field :request, value: @user["request"] %>
      <%= form.hidden_field :company, value: @user["company"] %>
      <%= form.hidden_field :deptname, value: @user["deptname"] %>
      <%= form.hidden_field :name, value: @user["name"]+" "+@user["last_name"] %>
      <%= form.hidden_field :national_id, value: @user["national_id"] %>
      <%= form.hidden_field :email, value: @user["email"] %>

      <!-- Cargar Informacion del usuario para mostrar -->
      <%= render partial: '/layouts/user_info', locals: {form: form} %>
    </div>

      <% if @user["item"] == 'smartphone' %>
        <%= render partial: '/layouts/renew_smp', locals: {form: form} %>
      <% elsif @user["item"] == 'bam' %>
        <%= render partial: '/layouts/renew_bam', locals: {form: form} %>
      <% end %>

    <br>
    <!-- Enviar Formulario -->
    <div id= "submit">
    <%= form.submit 'Enviar', class: "btn btn-success btn-lg" %>
    </div>
  <% end %>

</div>

</body>
</html>
