<!DOCTYPE html>
<html lang="en">
<head>
  <title>Solicitud Celulares CCU</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
      p {
        margin: 1px 0px 1px 0px;
      }
  </style>

</head>

<body>

  <hr>
  <h3><strong>Detalle Solicitud</strong></h3>
  <hr>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="well form-horizontal col-md-10">

    <h4><strong>Estado Solicitud:</strong> <%= @request.status %></h4>
    <hr>

      <div class="row">
        <p class="col-md-4 text-left">
          <strong>Solicitante: </strong>
          <%= @request.name %>
        </p>
        <p class="user col-md-4 text-left">
          <strong>Rut: </strong>
          <%= @request.national_id %>
        </p>
        <p class=" user col-md-4 text-left">
          <strong>Correo: </strong>
          <%= @request.email %>
        </p>
      </div>

      <div class="row">
        <p class="col-md-4 text-left">
          <strong>Empresa: </strong>
          <%= @request.company %>
        </p>
        <p class="user col-md-4 text-left">
          <strong>Centro de Costo: </strong>
          <%= @request.deptname %>
        </p>
        <p class=" user col-md-4 text-left"></p>
      </div>

      <hr>
        <strong>Solicitud: </strong>
        <%= @request.email_sended  %>
      <hr>

      <div class="row">
        <p class="col-md-4 text-left">
          <strong>n° Solicitud: </strong>
          <%= @request.n_request %>
        </p>
        <p class="user col-md-4 text-left">
            <strong>Tipo: </strong>
            <%= @request.request %>
        </p>
        <p class=" user col-md-4 text-left">
          <strong>Item: </strong>
          <%= @request.item %>
        </p>
      </div>

      <div class="row">
        <p class="col-md-4 text-left">
          <strong>Estado: </strong>
          <%= @request.status %>
        </p>
        <p class="user col-md-4 text-left">
          <strong>Fecha Creación: </strong>
          <%= @request.created_at.localtime.strftime('%d/%m/%Y %H:%M:%S') %>
        </p>
        <p class=" user col-md-4 text-left">
          <strong>Fecha Cierre:</strong>
          <%= @request.closed_at.localtime.strftime('%d/%m/%Y %H:%M:%S') unless !@request.closed_at%>
        </p>
      </div>

      <%if @request.request == 'stolen/lost'%>
        <div class="row">
          <p class="col-md-4 text-left">
            <strong>Fecha del Suceso: </strong>
            <%= @request.start_date.strftime('%d/%m/%Y')  %>
          </p>
          <p class="user col-md-8 text-left">
            <strong> Descripción Robo/Pérdida: </strong>
            <%= @request.comment_stolen_lost %>
          </p>
        </div>
      <%end%>

      <%if @request.item == 'roaming'%>
        <div class="row">
          <p class="col-md-4 text-left">
            <strong>Fecha Inicio Viaje: </strong>
            <%= @request.start_date.strftime('%d/%m/%Y')  %>
          </p>
          <p class="user col-md-4 text-left">
            <strong>Fecha Término Viaje: </strong>
            <%= @request.end_date.strftime('%d/%m/%Y')  %>
          </p>
          <p class="user col-md-4 text-left"></p>
        </div>

        <div class="row">
          <p class="col-md-4 text-left">
            <strong>Región de Destino: </strong>
            <%= @request.region %>
          </p>
          <p class="user col-md-4 text-left">
            <strong>País de Destino: </strong>
            <%= @request.country %>
          </p>
          <p class="user col-md-4 text-left"></p>
        </div>
      <%end%>


      <div class="row">
          <%if @request.request != 'release line' && @request.request != 'transfer line' && @request.item != 'sim'%>
            <p class="col-md-4 text-left">
              <%if  @request.request == 'technical service' %>
                <strong>Precio Presupuesto: </strong>
              <%else%>
                <strong>Precio: </strong>
              <%end%>
              <%= '$'+@request.price.to_s %>
            </p>
          <%end%>

          <%if @request.item == 'bam' || @request.item == 'smartphone'%>
            <p class="user col-md-4 text-left">
              <strong>Modelo: </strong>
              <%= @request.model %>
            </p>
          <%end%>
          <%if @request.item == 'bam' || @request.item == 'roaming'%>
            <p class="user col-md-4 text-left">
              <strong>Plan Bam/Roaming:</strong>
              <%= @request.plan %>
            </p>
          <%end%>
      </div>

      <div class="row">
          <%if @request.item == 'smartphone' && @request.request != 'technical service' %>
            <p class="col-md-4 text-left">
              <strong>Comentarios Modelo:</strong>
              <%= @request.comment %>
            </p>
          <%elsif @request.request == 'technical service'%>
            <p class="col-md-4 text-left">
              <strong>Comentarios Desperfecto:</strong>
              <%= @request.comment %>
            </p>
          <%end%>
          <%if @request.request == 'technical service' %>
            <p class="user col-md-4 text-left">
              <strong>Quizo Equipo reemplazo?: </strong>
              <%= @request.want_replacement %>
            </p>
          <%end%>
        <p class="user col-md-4 text-left"></p>
      </div>

      <div class="row">
          <%if @request.want_new_number == false || @request.transfer_line_type == 'ceder' ||
            @request.transfer_line_type == 'liberar'%>
            <p class="col-md-4 text-left">
              <%if @request.transfer_line_type == 'liberar'%>
                  <strong>n° de Teléfono a liberar:</strong>
              <%elsif @request.number_type == 'same'%>
                  <strong>n° de Teléfono actual:</strong>
              <%else%>
                  <strong>n° de Teléfono cedido:</strong>
              <%end%>
              <%= '+56 9 '+@request.phone_number %>
            </p>
          <%end%>
        <%if @request.item == 'smartphone' ||  @request.item == 'sim'%>
          <%if @request.request != 'technical service' %>
            <p class="user col-md-4 text-left">
              <strong>Quizo Sim?:</strong>
              <%= @request.want_sim %>
            </p>
          <%end%>

          <%if @request.want_sim == true%>
            <p class="user col-md-4 text-left">
              <strong>Quizo número nuevo?:</strong>
              <%= @request.want_new_number %>
            </p>
          <%end%>
        <%end%>
      </div>

      <div class="row">
          <%if @request.contract %>
            <hr>
            <p class="col-md-4 text-left">
              <strong>Nota de Pedido: </strong>
              <%= link_to 'Download', requests_url+'/contracts/'+@request.n_request, data: {turbolinks: false} %>
            </p>
          <%end%>
          <%if @request.file%>
            <%if @request.request == 'stolen/lost'%>
              <p class="user col-md-4 text-left">
                <strong>Constancia: </strong>
                <%= link_to 'Download', requests_url+'/files/'+@request.n_request,  data: {turbolinks: false}  %>
              </p>
            <%end%>
          <%end%>
        <p class="user col-md-4 text-left"></p>
      </div>

      <% if params[:request] != "follow"%>
        <hr>
        | <%= link_to 'Editar', edit_request_path(@request) %> |
        <%= link_to 'Solicitudes', requests_path %> |
      <% end %>
    </div>
    <div class="col-md-1"></div>
  </div>

</body>
</html>
