<!DOCTYPE html>
<html lang="en">
<head>
  <title>Solicitud Celulares CCU</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
      p {
        margin: 1px 0px 1px 0px;
      }
  </style>

</head>

<body>

  <hr>
  <h3><strong>Detalle Solicitud</strong></h3>
  <hr>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="well form-horizontal col-md-10">

      <% if params[:request] != "follow" %>
      <div class="row">
        <div class="col-md-4 text-left">
          <h4><strong>Estado:</strong> <%= @request.status %></h4>
        </div>
        <div class="col-md-4 text-left">
          <h4 ><strong>Validación Supervisor:</strong> <%= @request.sup_approval %></h4>
        </div>
        <div class="col-md-4 text-left">
          <h4 ><strong>Clasificación:</strong> <%= @request.classification %></h4>
        </div>
      </div>
      <% else %>
      <div class="row">
        <div class="col-md-6">
          <h4><strong>Estado:</strong> <%= @request.status %></h4>
        </div>
        <div class="col-md-6">
          <h4 ><strong>Validación Supervisor:</strong> <%= @request.sup_approval %></h4>
        </div>
      </div>
      <% end %>
      <hr>

      <div class="row">
        <p class="col-md-4 text-left">
          <strong>Solicitante: </strong>
          <%= @request.name %>
        </p>
        <p class="col-md-4 text-left">
          <strong>Rut: </strong>
          <%= @request.national_id %>
        </p>
        <p class="col-md-4 text-left">
          <strong>Correo: </strong>
          <%= @request.email %>
        </p>
      </div>

      <div class="row">
        <p class="col-md-4 text-left">
          <strong>Empresa: </strong>
          <%= @request.company %>
        </p>
        <p class="col-md-4 text-left">
          <strong>Centro de Costo: </strong>
          <%= @request.deptname %>
        </p>
        <p class=" col-md-4 text-left"></p>
      </div>

      <hr>
        <p class="text-left">
          <strong>Solicitud: </strong>
          <%= @request.email_sended  %>
        </p>
        <% if @request.comment_sup.present? %>
        <br>
        <p class="text-left">
        <strong>Respuesta Solicitud: </strong>
        <%= @request.comment_sup %>
        </p>
        <% end %>
      <hr>

      <div class="row">
        <p class="col-md-4 text-left">
          <strong>N° Solicitud: </strong>
          <%= @request.n_request %>
        </p>
        <p class="col-md-4 text-left">
            <strong>Tipo: </strong>
            <%= @request.request %>
        </p>
        <p class="col-md-4 text-left">
          <strong>Item: </strong>
          <%= @request.item %>
        </p>
      </div>

      <div class="row">
        <p class="col-md-4 text-left">
          <strong>Estado: </strong>
          <%= @request.status %>
        </p>
        <p class="user col-md-4 text-left">
          <strong>Fecha Creación: </strong>
          <%= @request.created_at.localtime.strftime('%d/%m/%Y %H:%M:%S') %>
        </p>
        <p class=" user col-md-4 text-left">
          <strong>Fecha Cierre:</strong>
          <%= @request.closed_at.localtime.strftime('%d/%m/%Y %H:%M:%S') unless !@request.closed_at%>
        </p>
      </div>

      <%if @request.request == 'stolen/lost'%>
        <div class="row">
          <p class="col-md-4 text-left">
            <strong>Fecha del Suceso: </strong>
            <%= @request.start_date.strftime('%d/%m/%Y')  %>
          </p>
          <p class="user col-md-8 text-left">
            <strong> Descripción Robo/Pérdida: </strong>
            <%= @request.comment_stolen_lost %>
          </p>
        </div>
      <%end%>

      <%if @request.item == 'roaming'%>
        <div class="row">
          <p class="col-md-4 text-left">
            <strong>Fecha Inicio Viaje: </strong>
            <%= @request.start_date.strftime('%d/%m/%Y')  %>
          </p>
          <p class="col-md-4 text-left">
            <strong>Fecha Término Viaje: </strong>
            <%= @request.end_date.strftime('%d/%m/%Y')  %>
          </p>
          <p class="col-md-4 text-left"></p>
        </div>

        <div class="row">
          <p class="col-md-4 text-left">
            <strong>Región de Destino: </strong>
            <%= @request.region %>
          </p>
          <p class="col-md-4 text-left">
            <strong>País de Destino: </strong>
            <%= @request.country %>
          </p>
          <p class="col-md-4 text-left"></p>
        </div>
      <%end%>

      <div class="row">
        <p class="col-md-4 text-left">
          <%if  @request.request == 'technical service' %>
            <strong>Precio Presupuesto: </strong>
          <%elsif @request.item == 'bam' || @request.item == 'smartphone' %>
            <strong>Precio Referencial Equipo: </strong>
          <%elsif @request.item == 'roaming' %>
            <strong>Precio Plan/Bolsa Roaming: </strong>
          <%else%>
            <strong>Precio: </strong>
          <%end%>
          <%= '$'+@request.price.to_s %>
        </p>
        <%if @request.item == 'bam' || @request.item == 'smartphone'%>
          <p class="col-md-4 text-left">
            <strong>Modelo: </strong>
            <%= @request.model %>
          </p>
        <%end%>
        <%if @request.item == 'bam' %>
          <%if @request.request != 'technical service' %>
            <p class="col-md-4 text-left">
              <strong>Precio Plan:</strong>
              <%= '$'+@request.price_plan.to_s %>
            </p>
          <%end%>
          <p class="col-md-4 text-left">
            <strong>Plan Bam:</strong>
            <%= @request.plan %>
          </p>
        <%elsif @request.item == 'roaming'%>
          <p class="col-md-4 text-left">
            <strong>Plan Roaming:</strong>
            <%= @request.plan %>
          </p>
        <%end%>
      </div>

      <div class="row">
        <%if @request.item == 'smartphone' && @request.request != 'technical service' %>
          <p class="col-md-4 text-left">
            <strong>Comentarios Modelo:</strong>
            <%= @request.comment %>
          </p>
        <%elsif @request.request == 'technical service'%>
          <p class="col-md-4 text-left">
            <strong>Comentarios Desperfecto:</strong>
            <%= @request.comment %>
          </p>
        <%end%>
        <%if @request.request == 'technical service' %>
          <p class="col-md-4 text-left">
            <strong>¿Solicitó equipo de reemplazo?: </strong>
            <%if @request.want_replacement == true%>
              Si
            <%else%>
              No
            <%end%>
          </p>
        <%end%>
      </div>

      <div class="row">
          <%if @request.want_new_number == false || @request.transfer_line_type == 'ceder' ||
            @request.transfer_line_type == 'liberar'%>
            <p class="col-md-4 text-left">
              <%if @request.transfer_line_type == 'liberar'%>
                  <strong>N° de Teléfono a liberar:</strong>
              <%elsif @request.number_type == 'same'%>
                  <strong>N° de Teléfono actual:</strong>
              <%else%>
                  <strong>N° de Teléfono cedido:</strong>
              <%end%>
              <%= '+56 9 '+@request.phone_number %>
            </p>
          <%end%>
        <%if @request.item == 'smartphone' ||  @request.item == 'sim'%>
          <%if @request.request != 'technical service' %>
            <p class="col-md-4 text-left">
              <strong>¿Incluye Sim?:</strong>
              <%if @request.want_sim == true%>
                Si
              <%else%>
                No
              <%end%>
            </p>
          <%end%>

          <%if @request.want_sim == true%>
            <p class="col-md-4 text-left">
              <strong>¿Solicitó número nuevo?:</strong>
              <%if @request.want_new_number == true%>
                Si
              <%else%>
                No
              <%end%>
            </p>
          <%end%>
        <%end%>
      </div>

      <div class="row">
          <%if @request.contract %>
            <hr>
            <p class="col-md-4 text-left">
              <strong>Nota de Pedido: </strong>
              <%= link_to 'Download', requests_url+'/contracts/'+@request.n_request, data: {turbolinks: false} %>
            </p>
          <%end%>
          <%if @request.file%>
            <%if @request.request == 'stolen/lost'%>
              <p class="col-md-4 text-left">
                <strong>Constancia: </strong>
                <%= link_to 'Download', requests_url+'/files/'+@request.n_request,  data: {turbolinks: false}  %>
              </p>
            <%end%>
          <%end%>
        <p class="user col-md-4 text-left"></p>
      </div>

      <% if params[:request] != "follow" %>
        <hr>
        | <%= link_to 'Editar', requests_path+"/"+@request.link+"/edit" %> |
        <%= link_to 'Solicitudes', requests_path %> |
      <% end %>
    </div>
    <div class="col-md-1"></div>
  </div>

</body>
</html>
