<!DOCTYPE html>
<html lang="en">
<head>
  <title>Identifiación de Usuario y Solicitud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 1100px}
  </style>

  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "sweetalert-dev" %>
  <%= stylesheet_link_tag "sweetalert" %>

  <script type="text/javascript">
  $(document).ready(function(){

    // Submit Event
    $("#submit").click(function(e){
      var phone = $.trim($('input[name="number"]').val());
      var w_sim = $('input:checked[name="want_sim"]').val();
      var w_new_number = $('input:checked[name="want_new_number"]').val();
      var item = $("#item").val();
      var text = $.trim($("#model_text").val());
      var check = $("#checkbox").is(":checked");
      var file = $.trim($('input[name="file"]').val());
      var date = new Date($('input[name="lost_date"]').val());
      var comment = $.trim($("#comment_stolen_lost").val());

      if(( item == "smartphone" || item == "sim") && w_sim == 'true' && w_new_number == 'false'){
        if( phone.length != 8 || !$.isNumeric(phone)){
          swal({
            title: 'Datos Inválidos!',
            text: 'Ingrese número válido',
            type: 'error',
            confirmButtonText: 'Aceptar',
            confirmButtonColor: "#DD6B55",
          });
          e.preventDefault();
        }
      }

      if(item == 'smartphone' && check == true && text.length < 10){
          swal({
            title: 'Datos Inválidos!',
            text: 'Debes Ingresar una descripción de al menos 10 caracteres en el motivo de eleccion del modelo que has elegido',
            type: 'error',
            confirmButtonText: 'Aceptar',
            confirmButtonColor: "#DD6B55",
          });
          e.preventDefault();
      }

      else if(file.length == 0){
          swal({
            title: 'Datos Inválidos!',
            text: 'Debes Subir un archivo con la Constancia de Carabineros del Robo o Pérdida',
            type: 'error',
            confirmButtonText: 'Aceptar',
            confirmButtonColor: "#DD6B55",
          });
          e.preventDefault();
      }

      else if(isNaN(date)){
          swal({
            title: 'Datos Inválidos!',
            text: 'Debes Ingresar una Fecha válida de cuando ocurrió el Robo o Pérdida',
            type: 'error',
            confirmButtonText: 'Aceptar',
            confirmButtonColor: "#DD6B55",
          });
          e.preventDefault();
      }

      else if(comment.length < 10){
          swal({
            title: 'Datos Inválidos!',
            text: 'Debes Ingresar una descripción del Robo o Pérdida de al menos 10 caracteres',
            type: 'error',
            confirmButtonText: 'Aceptar',
            confirmButtonColor: "#DD6B55",
          });
          e.preventDefault();
      }
  });


  });
  </script>

</head>
<body>

<div class="container-fluid">
  <h1><strong> Formulario </strong></h1>
  <hr>
  <h3> Formulario Pérdida o Robo </h3>
  <hr>

  <%= form_with url: "/requests/forms/create/new", method: "post" do |form| %>
    <div class="well form-horizontal">

      <%= form.hidden_field :item, value: @user["item"], id: "item" %>
      <%= form.hidden_field :user_id, value: @user["id"] %>

      <!-- Cargar Informacion del usuario para mostrar -->
      <%= render partial: '/layouts/user_info', locals: {form: form} %>
    </div>

    <!-- Formulario del robo o perdida -->
      <%= render partial: '/layouts/stolen_lost', locals: {form: form} %>

    <!-- Formulario para nuevo dispositivo -->
      <% if @user["item"] == 'smartphone' %>
        <%= render partial: '/layouts/renew_smp', locals: {form: form} %>
      <% elsif @user["item"] == 'bam' %>
        <%= render partial: '/layouts/renew_bam', locals: {form: form} %>
      <% elsif @user["item"] == 'sim' %>
        <%= render partial: '/layouts/renew_sim', locals: {form: form} %>
      <% end %>
    <br>

    <!-- Enviar Formulario -->
    <div id= "submit">
    <%= form.submit 'Enviar', class: "btn btn-success btn-lg" %>
    </div>

  <% end %>

</div>

</body>
</html>
