<!DOCTYPE html>
<html lang="en">
<head>
  <title>Identifiación de Usuario y Solicitud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  </style>
  <%= javascript_include_tag "jquery.min" %>

  <script type="text/javascript">
  $(document).ready(function(){

    // Display request types
    $(".select_1").change(function(){
        $(this).find("option:selected").each(function(){
            var request = $(this).attr("value");
            var w_sim = $('input:checked[name="want_sim"]').val();
            var w_number = $('input:checked[name="want_new_number"]').val();
            $('input[name="number"]').val("");
            if(request == 'smartphone'){
                $("#models").show();
                $("#bam_models").hide();
                $("#want_sim").show();
                if(w_sim == 'true'){
                  $("#want_number").show();
                  if(w_number == 'false'){
                      $("#number").show();
                  }
                  else{
                      $("#number").hide();
                  }
                }
                else{
                  $("#want_number").hide();
                  $("#number").hide();
                }
            }
            else if(request == 'sim'){
              $("#models").hide();
              $("#bam_models").hide();
              $("#want_sim").hide();
              $("#want_number").show();
              if(w_number == 'false'){
                  $("#number").show();
              }
              else{
                  $("#number").hide();
              }
            }

            else{
                $("#models").hide();
                $("#want_sim").hide();
                $("#want_number").hide();
                $("#number").hide();
                $("#bam_models").show();
            }
        });
    }).change();

    // Display secondary menus
    var display_menus = function(){
      var request = $(".select_1 option:selected").attr("value");
      var w_sim = $('input:checked[name="want_sim"]').val();
      var w_number = $('input:checked[name="want_new_number"]').val();
      if(w_sim == 'true') {
          $("#want_number").show();
          if(w_number == 'false'){
              $("#number").show();
          }
          else{
              $("#number").hide();
          }
      }
      else if(w_sim == 'false'){
        if (request != 'sim'){
          $("#want_number").hide();
          $("#number").hide();
        }
        else{
          if(w_number == 'false'){
              $("#number").show();
          }
          else{
              $("#number").hide();
          }
        }
      }
    };

    // Submit Event
    $("form").submit(function(e){
      var phone = $.trim($('input[name="number"]').val());
      var request = $(".select_1 option:selected").attr("value");
      var w_sim = $('input:checked[name="want_sim"]').val();
      var w_new_number = $('input:checked[name="want_new_number"]').val();

      if((request == 'smartphone' && w_sim == 'true' && w_new_number == 'false') ||
      (request == 'sim' && w_new_number == 'false')){
        if( phone.length != 8 || !$.isNumeric(phone)){
          alert('Ingrese número válido');
          e.preventDefault(e);
        }
      }
    });

    $('input[name="want_sim"]').change(display_menus);
    $('input[name="want_new_number"]').change(display_menus);

  });
  </script>

</head>
<body>

<div class="container-fluid">
  <h1><strong> Formulario </strong></h1>
  <hr>
  <h3> Formulario Nuevo </h3>
  <hr>

  <%= form_with url: "/requests/forms/create/new", method: "post" do |form| %>

    <!-- Obtener nueva informacion del Formulario -->
    <h4><strong> Datos de Solicitud</strong></h4>
    <hr>

    <div class="field-center">
    <%= form.label :request, 'Seleccione Equipo' %>
    <%= form.select :request, [['Smartphone', 'smartphone'], ['Sim', 'sim'], ['BAM', 'bam']], {},
    { :class => 'select_1' } %>
    </div>

    <br>

    <div id= "models" class="field-center">
    <%= form.label :model, 'Seleccione Modelo Smartphone' %>
    <%= form.select :model, [['Galaxy J7', 1], ['Galaxy S5', 2], ['Iphone 6s', 3], ['Iphone X', 4]], {} %>
    </div>

    <div id= "bam_models" class="field-center">
    <%= form.label :bam_model, 'Seleccione Modelo BAM' %>
    <%= form.select :bam_model, [['Huawei E5573', 1], [ 'Huawei E8372', 2]], {} %>
    </div>

    <br>

    <div id= "want_sim" class="field-center">
    <%= form.label :want_sim, 'Desea Incluir Tarjeta Sim?' %>
    <%= form.collection_radio_buttons :want_sim, [[true, 'Si'], [false, 'No']], :first, :last,
    :item_wrapper_class => 'inline', checked: true%>
    </div>

    <br>

    <div id= "want_number" class="field-center">
    <%= form.label :want_new_number, 'Desea un número nuevo?'%>
    <%= form.collection_radio_buttons :want_new_number, [[true, 'Si'], [false, 'No, quiero portar un numero']], :first, :last,
    :item_wrapper_class => 'inline', checked: true%>
    </div>

    <br>

    <div id= "number" class="field-center">
    <%= form.label :number, 'Ingrese Número: +56 9' %>
    <%= form.text_field :number%>
    </div>

    </div>
    <br>
    <!-- Enviar Formulario -->
    <div id= "submit" >
    <%= form.submit 'Enviar', class: "btn btn-success btn-lg" %>
    </div>
  <% end %>

</div>

</body>
</html>
