<!DOCTYPE html>
<html lang="en">
<head>
  <title>Identifiación de Usuario y Solicitud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 1070px}
  </style>

  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "sweetalert-dev" %>
  <%= stylesheet_link_tag "sweetalert" %>

  <script type="text/javascript">
  $(document).ready(function(){

    // Manage Cesion text
    $("#select_type").change(function(){
      var request = $("#select_type option:selected").val();
      if(request == 'liberar'){
        $("#cesion").hide();
      }
      else{
        $("#cesion").show();
      }
    }).change();

    // Submit Event
    $("form").submit(function(e){
      var phone = $.trim($('input[name="phone_number"]').val());

      if( phone.length != 8 || !$.isNumeric(phone)){
        swal({
          title: 'Datos Inválidos!',
          text: 'Ingrese número telefónico válido',
          type: 'error',
          confirmButtonText: 'Aceptar',
          confirmButtonColor: "#DD6B55",
        });
        e.preventDefault();
      }
    });

  });
  </script>

</head>
<body>

<div class="container-fluid">
  <hr>
  <h1><strong> Formulario Cesión de Línea </strong></h1>
  <hr>

  <%= form_with url: "/requests/forms/create/new", method: "post" do |form| %>
    <div class="well form-horizontal">

      <%= form.hidden_field :item, value: @user["item"] %>
      <%= form.hidden_field :user_id, value: @user["id"] %>
      <%= form.hidden_field :request, value: @user["request"] %>
      <%= form.hidden_field :company, value: @user["company"] %>

      <!-- Cargar Informacion del usuario para mostrar -->
      <%= render partial: '/layouts/user_info', locals: {form: form} %>
    </div>

    <!-- Cargar formulario para cesion de linea -->
    <div class="well form-horizontal">

    <h4><strong> Datos de Solicitud</strong></h4>
    <hr>

      <div id= "select_type" class="field-center">
        <%= form.label :transfer_line_type, 'Seleccione Acción' %>
        <%= form.select :transfer_line_type, [['Ceder Línea a CCU', 'ceder'], ['Liberar Línea de CCU', 'liberar']], {} %>
      </div>

      <div id= "number" class="field-center">
        <br>
        <%= form.label :phone_number, 'Ingrese Número a ceder: +56 9' %>
        <%= form.text_field :phone_number %>

        <p>

        <div id="cesion" class="alert alert-danger">
          Número ingresado no debe estar asociado a un contrato
          vigente con una compañía de telefonía móvi, a menos que sea la misma
          compañía que le presta servicios de telefonía a CCU en su país
        </div>
      </div>
    </div>

    <br>

    <!-- Enviar Formulario -->
    <div id= "submit">
    <%= form.submit 'Enviar', class: "btn btn-success btn-lg" %>
    </div>
  <% end %>

</div>

</body>
</html>
