<!DOCTYPE html>
<html lang="en">
<head>
  <title>Identifiación de Usuario y Solicitud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 1070px}

    label {
      padding-top: 7px;
    }

    h2 {
      margin: 0;
    }

    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .alert {
      margin-top: 5px;
      display:inline-block;
      vertical-align: middle;
      height: 50%;
      padding: 1px;
      margin-top: 1%;
      margin-bottom: 1%;
    }

  </style>

  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "sweetalert-dev" %>
  <%= stylesheet_link_tag "sweetalert" %>

  <script type="text/javascript">
  $(document).ready(function(){

    // Manage Cesion text
    $("#select_type").change(function(){
      var request = $("#select_type option:selected").val();
      if(request == 'liberar'){
        $("#cesion").hide();
      }
      else{
        $("#cesion").show();
      }
    }).change();

    // Submit Event
    $("form").submit(function(e){
      var phone = $.trim($('input[name="phone_number"]').val());

      if( phone.length != 8 || !$.isNumeric(phone)){
        swal({
          title: 'Datos Inválidos!',
          text: 'Ingrese número telefónico válido',
          type: 'error',
          confirmButtonText: 'Aceptar',
          confirmButtonColor: "#DD6B55",
        });
        e.preventDefault();
      }
    });

  });
  </script>

</head>
<body>

<div class="container-fluid">
  <hr>
  <h2><strong> Formulario Cesión de Línea </strong></h2>
  <hr>

  <%= form_with url: "/requests/forms/create/new", method: "post" do |form| %>
    <div class="well form-horizontal">

      <%= form.hidden_field :item, value: @user["item"] %>
      <%= form.hidden_field :user_id, value: @user["id"] %>
      <%= form.hidden_field :request, value: @user["request"] %>
      <%= form.hidden_field :company, value: @user["company"] %>
      <%= form.hidden_field :deptname, value: @user["deptname"] %>
      <%= form.hidden_field :name, value: @user["name"]+" "+@user["last_name"] %>
      <%= form.hidden_field :national_id, value: @user["national_id"] %>
      <%= form.hidden_field :email, value: @user["email"] %>

      <!-- Cargar Informacion del usuario para mostrar -->
      <%= render partial: '/layouts/user_info', locals: {form: form} %>
    </div>

    <!-- Cargar formulario para cesion de linea -->
    <div class="well form-horizontal">

    <h4><strong> Datos de Solicitud</strong></h4>
    <hr>

    <div id= "select_type" class="row">
      <div class="col-md-3"></div>
      <p class="col-md-4 text-left">
        <%= form.label :transfer_line_type, 'Seleccione Acción' %>
      </p>

      <p class="col-md-3 text-left">
        <%= form.select :transfer_line_type, [['Ceder Línea a CCU', 'ceder'], ['Liberar Línea de CCU', 'liberar']], {} %>
      </p>
      <div class="col-md-2"></div>
    </div>

    <div id= "number"  class="row">
      <div class="col-md-3"></div>
      <p class="col-md-4 text-left">
        <%= form.label :phone_number, 'Ingrese Número (+56 9): ' %>
      </p>

      <p class="col-md-3 text-left">
        <%= form.text_field :phone_number %>
      </p>
      <div class="col-md-2"></div>
    </div>

    <div id="cesion" class="alert alert-danger">
      Número ingresado no debe estar asociado a un contrato
      vigente con una compañía de telefonía móvi, a menos que sea la misma
      compañía que le presta servicios de telefonía a CCU en su país
    </div>

    </div>

    <br>

    <!-- Enviar Formulario -->
    <div id= "submit">
    <%= form.submit 'Enviar', class: "btn btn-success btn-lg" %>
    </div>
  <% end %>

</div>

</body>
</html>
