<%= form_with(model: bam, local: true) do |form| %>
  <% if bam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bam.errors.count, "error") %> prohibited this bam from being saved:</h2>

      <ul>
      <% bam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :bam_model %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :bam_country %>
  </div>

  <div class="field">
    <%= form.label :last_owner %>
    <%= form.text_field :last_owner, id: :bam_last_owner %>
  </div>

  <div class="field">
    <%= form.label :imei %>
    <%= form.text_area :imei, id: :bam_imei %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :bam_price %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :bam_state %>
  </div>

  <div class="field">
    <%= form.label :available %>
    <%= form.check_box :available, id: :bam_available %>
  </div>

  <div class="field">
    <%= form.label :renovation_at %>
    <%= form.text_field :renovation_at, id: :bam_renovation_at %>
  </div>

  <div class="field">
    <%= form.label :last_assign_at %>
    <%= form.datetime_select :last_assign_at, id: :bam_last_assign_at %>
  </div>

  <div class="field">
    <%= form.label :sim_id %>
    <%= form.text_field :sim_id, id: :bam_sim_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
