<style>
  .alert {
    margin-top: 5px;
    display:inline-block;
    vertical-align: middle;
    height: 50%;
    padding: 1px;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  label {
    padding-top: 7px;
  }
  hr {
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 0px;
  }
  h3{
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0px;
  }
  .btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }
</style>

<%= render partial: '/layouts/bam_filter' %>

<div class= "titulo">
  <hr>
  <h3><strong>Bams</strong></h3>
  <hr>
</div>

<% if notice %>
  <div class="row">
    <p class="col-md-4 text-left"></p>
    <p class="user col-md-4 alert alert-success">
         <strong> La Bam fue eliminada exitosamente </strong>
    </p>
    <p class=" user col-md-4 text-left"></p>
  </div>
<% end %>

<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class= text-center><%= sort_link @search, :id, "id"%></th>
          <th scope="col" class= text-center><%= sort_link @search, :model, "Modelo"%> </th>
          <th scope="col" class= text-center><%= sort_link @search, :code, "Código"%></th>
          <th scope="col" class= text-center><%= sort_link @search, :state, "Estado"%></th>
          <th scope="col" class= text-center><%= sort_link @search, :available, "Disponible"%></th>
          <th scope="col" class= text-center><%= sort_link @search, :renovation_at, "Fecha Renovación"%></th>
          <th scope="col" class= text-center>Bam</th>
          <th scope="col" class= text-center>Editar</th>
          <th scope="col" class= text-center>Eliminar</th>
        </tr>
      </thead>

      <tbody>
        <% @bams.each do |bam| %>
          <tr>
            <td><%= bam.id %></td>
            <td><%= bam.model %></td>
            <td><%= bam.code %></td>
            <td><%= bam.state %></td>
            <td><%= bam.available %></td>
            <% if bam.renovation_at %>
            <td><%= bam.renovation_at.strftime('%d/%m/%Y') %></td>
            <% else %>
            <td><%= "" %></td>
            <%end%>

            <td><%= link_to 'Bam', bam %></td>
            <td><%= link_to 'Editar', edit_bam_path(bam) %></td>
            <td><%= link_to 'Eliminar', '/bams/delete/'+bam.id.to_s,
            onclick: "return confirm('Está seguro que desea Eliminar el Bam con id "+bam.id.to_s+ "')" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<hr>
<%= link_to 'Crear Bam', new_bam_path, class: "btn btn-primary btn-md" %>
<hr>
<br>
