<!DOCTYPE html>
<html lang="en">
<head>
  <title>Segimiento Solicitud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= javascript_include_tag "bootstrapValidator" %>

  <style>

    label {
      padding-top: 5px;
    }
    h2 {
      margin: 0;
    }

    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .alert {
      margin-top: 5px;
      display:inline-block;
      vertical-align: middle;
      height: 50%;
      padding: 1px;
      margin-top: 1%;
      margin-bottom: 1%;
    }
  </style>

</head>
<body>

<div class="container-fluid">
  <hr>
  <h2><strong> Seguimiento Solicitud </strong></h2>
  <hr>
  <br>
  <br>

  <%= form_with url: "follow", method: "get" do |form| %>

   <%= form.hidden_field :request, value: "follow" %>

   <div class="col-lg-4 col-md-3 col-sm-3 col-xs-1"></div>
   <div class="well form-horizontal col-lg-4 col-md-6 col-sm-6 col-xs-10">

      <div id= "request_hw_lost" class="row">
        <div class="hidden-lg hidden-md col-sm-1 col-xs-1"></div>
         <p class="col-lg-6 col-md-6 col-sm-5 col-xs-5 text-left">
            <%= form.label :user_rut, 'Identificación Usuario' %>
         </p>
         <p class="col-lg-6 col-md-6 col-sm-5 col-xs-5 pull-left">
            <%= form.text_field :user_rut, placeholder: "ej:17395384-2",
            style: "width:100%" %>
         </p>
         <div class="hidden-lg hidden-md col-sm-1 col-xs-1"></div>
      </div>

      <div id= "request" class="row">
        <div class="hidden-lg hidden-md col-sm-1 col-xs-1"></div>
        <p class="col-lg-6 col-md-6 col-sm-5 col-xs-5 text-left">
           <%= form.label :n_request, 'N° Solicitud' %>
        </p>
        <p class="col-lg-6 col-md-6 col-sm-5 col-xs-5 pull-left">
          <%= form.text_field :n_request, style: "width:100%"  %>
        </p>
        <div class="hidden-lg hidden-md col-sm-1 col-xs-1"></div>
      </div>

      <div class="alert alert-danger">
        <p id="alert"><strong><%= alert %></strong></p>
      </div>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-1"></div>
  </div>

  <%= form.submit 'Enviar', class: "btn btn-success btn-lg" %>
  <% end %>

</body>
</html>
