<!DOCTYPE html>
<html lang="en">
<head>
  <title>Identifiación de Usuario y Solicitud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 720px}
  </style>
  <%= javascript_include_tag "jquery.min" %>

  <script type="text/javascript">
  $(document).ready(function(){
    // Display request types
    $("#request").change(function(){
        $(this).find("option:selected").each(function(){
            var request = $(this).attr("value");
            $("#request_hw_new").hide()
            $("#request_hw_renew_tech").hide()
            $("#request_hw_lost").hide()
            if(request == 'new'){
              $("#request_hw_new").show()
            }
            else if(request == 'renew' || request == 'technical service'){
              $("#request_hw_renew_tech").show()
            }
            else if(request == 'stolen/lost'){
              $("#request_hw_lost").show()
            }
        });
    }).change();
  });
  </script>

</head>
<body>

<div class="container-fluid">
  <hr>
  <h1><strong> Identificación de Usuario y Solicitud </strong></h1>
  <hr>
  <%= form_with url: "validate", method: "get" do |form| %>
   <div class="well form-horizontal">

    <div id= "request" class="field-center">
      <%= form.label :request_type, 'Seleccione Tipo de Solicitud' %>
      <%= form.select :request_type, [['Cesión de línea', 'transfer line'],
      ['Nuevo Equipo', 'new'], ['Renovar Equipo', 'renew'], ['Robo/Pérdida Equipo', 'stolen/lost'],
      ['Reparar Equipo', 'technical service']], {} %>
    </div>

    <div id= "request_hw_new" class="field-center">
      <br>
      <%= form.label :request_hw_new, 'Seleccione Equipo/Servicio' %>
      <%= form.select :request_hw_new, [['Smartphone', 'smartphone'],
      ['Sim', 'sim'], ['Bam', 'bam'], ['Roaming', 'roaming']], {} %>
    </div>

    <div id= "request_hw_renew_tech" class="field-center">
      <br>
      <%= form.label :request_hw_renew_tech, 'Seleccione Equipo/Servicio' %>
      <%= form.select :request_hw_renew_tech, [['Smartphone', 'smartphone'],
      ['BAM', 'bam']], {} %>
    </div>

    <div id= "request_hw_lost" class="field-center">
      <br>
      <%= form.label :request_hw_lost, 'Seleccione Equipo/Servicio' %>
      <%= form.select :request_hw_lost, [['Smartphone', 'smartphone'], ['Sim', 'sim'],
      ['Bam', 'bam']], {} %>
    </div>

    <br>

    <div class="field-center">
      <%= form.label :user_rut, 'Identificación de Usuario' %>
      <%= form.text_field :user_rut, id: :request_request, placeholder: "ej: 17395384-2" %>
    </div>
  </div>

    <br>

    <%= form.submit 'Enviar', class: "btn btn-success btn-lg" %>
</div>
  <% end %>

</body>
</html>
