<!DOCTYPE html>
<html lang="en">
<head>
  <title>Identifiación de Usuario y Solicitud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container-fluid">
  <h1><strong> Formulario </strong></h1>
  <hr>
  <h3> Identificación de Usuario y Solicitud </h3>
  <hr>
  <%= form_with url: "validate", method: "get" do |form| %>
   <div class="row">
     <div class="col-md-2"></div>
     <%= form.label :request_type, 'Seleccione Tipo de Solicitud', class: "col-md-4 text-right" %>
     <%= form.select :request_type, [['Nuevo', 1], ['Renovación', 2], ['Pérdida', 3],
     ['Robo', 4], ['Reparación', 5]], {}, {class: "col-md-4 text-left"} %>
     <div class="col-md-2"></div>
  </div>
  <div class="row">
    <br>
    <%= form.label :user_rut, 'Identificación de Usuario' %>
    <%= form.text_field :user_rut, id: :request_request, placeholder: "rut ej: 17.395.384-2" %>
  </div>
    <br>
    <%= form.submit 'Enviar', class: "btn btn-success btn-lg" %>
</div>
  <% end %>

</body>
</html>
