<%= form_with(model: user_record, local: true) do |form| %>
  <% if user_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_record.errors.count, "error") %> prohibited this user_record from being saved:</h2>

      <ul>
      <% user_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :smartphone_id %>
    <%= form.text_field :smartphone_id, id: :user_record_smartphone_id %>
  </div>

  <div class="field">
    <%= form.label :sim_id %>
    <%= form.text_field :sim_id, id: :user_record_sim_id %>
  </div>

  <div class="field">
    <%= form.label :bam_id %>
    <%= form.text_field :bam_id, id: :user_record_bam_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :user_record_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
