<p id="notice"><%= notice %></p>

<p>
  <strong>Smartphone:</strong>
  <%= @user_record.smartphone %>
</p>

<p>
  <strong>Sim:</strong>
  <%= @user_record.sim %>
</p>

<p>
  <strong>Bam:</strong>
  <%= @user_record.bam %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_record.user %>
</p>

<%= link_to 'Edit', edit_user_record_path(@user_record) %> |
<%= link_to 'Back', user_records_path %>
