<style>
  .text_area {
    vertical-align: top;
  }
</style>

<%= form_with(model: plan, local: true) do |form| %>

<div class="row">
  <div class="col-md-2"></div>
  <div class="well form-horizontal col-md-8">

    <div class="row">
      <p class="col-md-1 text-left">
        <strong>Id: </strong>
      </p>
      <p class="col-md-3 text-left">
        <%= @plan.id %>
      </p>
      <p class="user col-md-1 text-left">
        <strong>Item: </strong>
      </p>
      <p class="user col-md-3">
        <%= form.select :item, [['Roaming','roaming'],['Bam', 'bam']],
        {id: :plan_item}, {style: "width:120px", class: "pull-left"} %>
      </p>
      <p class=" user col-md-1 text-left">
        <strong>Tipo: </strong>
      </p>
      <p class=" user col-md-3">
        <%= form.select :plan_type, [['Plan','plan'],['Bolsa','bag']],
        {id: :plan_plan_type}, {style: "width:120px", class: "pull-left"}%>
      </p>
    </div>

    <div class="row">
      <p class=" user col-md-1 text-left">
        <strong>Nombre: </strong>
      </p>
      <p class=" user col-md-3">
        <%= form.text_field :name, id: :plan_name, class: "pull-left",
        style: "width:160px" %>
      </p>
      <p class="col-md-1 text-left">
        <strong>Precio: </strong>
      </p>
      <p class=" user col-md-3">
        <%= form.number_field :price, id: :plan_price, class: "pull-left",
        style: "width:120px" %>
      </p>
      <p class=" user col-md-1 text-left">
        <strong>Categoría: </strong>
      </p>
      <p class=" user col-md-3">
        <%= form.text_field :category, id: :plan_category, class: "pull-left",
        style: "width:120px" %>
      </p>
    </div>

    <div class="row">
      <p class="user col-md-8 text-left">
        <strong>Descripción:</strong>
        <%= form.text_area :detail, id: :plan_detail, :rows => 4, :cols => 35,
        class: "text_area"%>
      </p>
      <p class="user col-md-1 text-left">
        <strong>País:</strong>
      </p>
      <p class=" user col-md-3">
        <%= form.text_field :country, id: :plan_country, class: "pull-left",
        style: "width:120px"  %>
      </p>
    </div>


    <br>
    <div class="actions">
      <% if params[:action] == 'new'%>
        <%= form.submit 'Crear', onclick: "return confirm('Está seguro que desea Crear el Plan/Bolsa')",
        class: "btn btn-primary btn-md" %>
      <% else %>
        <%= form.submit 'Editar', onclick: "return confirm('Está seguro que desea Editar el Plan/Bolsa')",
        class: "btn btn-primary btn-md" %>
      <% end %>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<% end %>
