<p id="notice"><%= notice %></p>

<h1>Plans</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Item</th>
      <th>Tipo de Plan</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>detalles</th>
      <th>Categoria</th>
      <th>Pais</th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.id %></td>
        <td><%= plan.item %></td>
        <td><%= plan.plan_type %></td>
        <td><%= plan.name %></td>
        <td><%= plan.price %></td>
        <td><%= plan.detail %></td>
        <td><%= plan.category %></td>
        <td><%= plan.country %></td>
        <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
        <td><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plan', new_plan_path %>
