<!DOCTYPE html>
<html lang="en">
<head>
  <title>Información de Usuario</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  </style>

  <script type="text/javascript">
  $(document).ready(function(){

  });
  </script>


</head>
<body>

  <div class="well form-horizontal">

  <!-- Desplegar informacion del dispositivo -->
  <h4><strong> Datos del Dispositivo BAM </strong></h4>
  <hr>

  <% if @items.has_key?(:bam) %>

    <div class="row">
      <div class="col-md-2"></div>
      <p class="col-md-4 text-left">
        <strong>Modelo:</strong>
        <%= @items[:bam].model %>
      </p>

      <p class="col-md-4 text-left">
        <strong>Codigo:</strong>
        <%= @items[:bam].code %>
      </p>
      <div class="col-md-2"></div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <p class="col-md-4 text-left">
        <strong>Imei:</strong>
        <%= @items[:bam].imei %>
      </p>

      <p class="col-md-4 text-left">
        <strong>Pais:</strong>
        <%= @items[:bam].country %>
      </p>
      <div class="col-md-2"></div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <p class="col-md-4 text-left">
        <strong>Estado:</strong>
        <%= @items[:bam].state %>
      </p>

      <p class="col-md-4 text-left">
        <strong>Fecha de Renovación:</strong>
        <%= @items[:bam].renovation_at.localtime.strftime('%d/%m/%Y') %>
      </p>
      <div class="col-md-2"></div>
    </div>

  <% else %>

    <div class="alert alert-danger">Usuario no tiene un BAM asignado en el sistema.
      Ingrese los datos del dispositivo defectuoso que tiene asociado a CCU
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <p class="col-md-2 text-left">
        <%= form.label :model, 'Modelo BAM' %>

      </p>
      <p class="col-md-3 pull-left">
        <%= form.text_field :model %>
      </p>
      <div class="col-md-4"></div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <p class="col-md-2 text-left">
        <%= form.label :imei, 'Número BAM' %>
      </p>
      <p class="col-md-3 pull-left">
        <%= form.text_field :imei %>
      </p>
      <div class="col-md-4"></div>
    </div>

    <div class="alert alert-info">
      Ingresa <%= link_to 'AQUÍ', "http://comunidad.entel.cl/internet/posts/como-se-cual-es-el-numero-de-mi-bam-entel", target: :_blank%> para informarte de como
      obtener el número de tu dispositivo BAM
    </div>

  <% end %>

  </div>

</body>
</html>
