<!DOCTYPE html>
<html lang="en">
<head>
  <title>Información de Usuario</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  </style>

  <script type="text/javascript">
  $(document).ready(function(){

  });
  </script>


</head>
<body>

  <h4><strong> Datos del Dispositivo BAM </strong></h4>

  <!-- Desplegar informacion del dispositivo -->
  <div class="well form-horizontal">

  <% if @items.has_key?(:bam) %>

    <div class="row">
      <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
        <strong>Modelo:</strong>
        <%= @items[:bam].model %>
        <%= form.hidden_field :model, value: @items[:bam].model %>
      </p>

      <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
        <strong>Codigo:</strong>
        <%= @items[:bam].code %>
      </p>
    </div>

    <div class="row">
      <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
        <strong>Imei:</strong>
        <%= @items[:bam].imei %>
        <%= form.hidden_field :imei, value: @items[:bam].imei %>
      </p>

      <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
        <strong>Pais:</strong>
        <%= @items[:bam].country %>
      </p>
    </div>

    <div class="row">
      <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
        <strong>Estado:</strong>
        <%= @items[:bam].state %>
      </p>

      <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
        <strong>Fecha de Renovación:</strong>
        <% if  @items[:bam].renovation_at.present? %>
        <%= @items[:bam].renovation_at.localtime.strftime('%d/%m/%Y') %>
        <% end %>
      </p>
    </div>

  <% else %>

    <div class="alert alert-danger">Usuario no tiene un BAM asignado en el sistema.
      Ingrese los datos del dispositivo defectuoso que tiene asociado a CCU
    </div>

    <div class="row">
      <p class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-left">
        <%= form.label :model, 'Modelo BAM' %>

      </p>
      <p class="col-lg-6 col-md-6 col-sm-7 col-xs-6 text-left">
        <%= form.text_field :model, style: 'width:100%' %>
      </p>
      <div class="col-lg-2 col-md-2 col-sm-1 hidden-xs"></div>
    </div>

    <div class="row">
      <p class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-left">
        <%= form.label :imei, 'Número BAM' %>
      </p>
      <p class="col-lg-6 col-md-6 col-sm-7 col-xs-6 text-left">
        <%= form.text_field :imei, style: 'width:100%' %>
      </p>
      <div class="col-lg-2 col-md-2 col-sm-1 hidden-xs"></div>
    </div>

    <div class="alert alert-info">
      Ingresa <%= link_to 'AQUÍ', "http://comunidad.entel.cl/internet/posts/como-se-cual-es-el-numero-de-mi-bam-entel", target: :_blank%> para informarte de como
      obtener el número de tu dispositivo BAM
    </div>

  <% end %>

  </div>

</body>
</html>
