<!DOCTYPE html>
<html lang="en">
<head>
  <title>Información de Usuario</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>

    .row.content {height: 1290px}

  </style>

  

  <script type="text/javascript">
  </script>

</head>
<body>

  <div class="well form-horizontal">

  <!-- Obtener nueva informacion del Formulario -->
  <h4><strong> Datos de Solicitud Smartphone </strong></h4>
  <hr>

  <div  id= "models" class="row">
    <div class="col-md-3"></div>
    <p class="col-md-3 text-left">
      <%= form.label :model_one, 'Seleccione Modelo' %>
    </p>

    <p class="col-md-3 text-left">
      <%= form.select :model_one, @cat_smartphones, {} %>
    </p>
    <div class="col-md-3"></div>
  </div>

  <div  id= "select_all_models" class="row">
    <div class="col-md-3"></div>
    <p class="col-md-3 text-left">
      <%= form.label :model_all, 'Seleccione Modelo' %>
    </p>

    <p class="col-md-3 text-left">
      <%= form.select :model_all, @all_smartphones, {} %>
    </p>
    <div class="col-md-3"></div>
  </div>

  <div  id= "show_all_models"  class="row">
    <div class="col-md-3"></div>
    <p class="col-md-6 alert alert-info">
        Mostrar modelos que no corresponden a mi cargo
        <%= form.check_box :want_all, { id: "checkbox" } %>
    </p>
    <div class="col-md-3"></div>
  </div>

  <div  id= "models" class="row model_text text_area">
    <div class="col-md-3 "></div>
    <p class="col-md-3 text-left">
      <%= form.label :comment , 'Motivo elección' %>
    </p>

    <p class="col-md-3 text-left">
      <%= text_area_tag :comment , nil, :rows => 4, :cols => 25,
      placeholder: "Describa brevemente el motivo de la elección del modelo"  %>
    </p>
    <div class="col-md-3"></div>
  </div>

  <div  id= "want_sim" class="row">
    <div class="col-md-3"></div>
    <p class="col-md-3 text-left">
      <%= form.label :want_sim, 'Incluir Tarjeta Sim?' %>
    </p>

    <p class="col-md-3 text-left">
      <%= form.collection_radio_buttons :want_sim, [[true, 'Si'], [false, 'No']], :first, :last,
    :item_wrapper_class => 'inline', checked: true%>
    </p>
    <div class="col-md-3"></div>
  </div>

  <div  id= "want_number" class="row">
    <div class="col-md-3"></div>
    <p class="col-md-3 text-left">
      <%= form.label :want_new_number, 'Desea un número telefónico nuevo?'%>
    </p>

    <p class="col-md-6 text-left">
      <%= form.collection_radio_buttons :want_new_number, [['true', 'Si'], ['false', 'No, quiero portar un numero']], :first, :last,
    :item_wrapper_class => 'inline', checked: true%>
    </p>
  </div>

  <div id="number">
    <div class="row">
      <div class="col-md-3"></div>
      <p class="col-md-3 text-left">
        <%= form.label :phone_number, 'Ingrese Número (+56 9):' %>
      </p>

      <p class="col-md-6 text-left">
        <%= form.text_field :phone_number %>
      </p>
    </div>
    <div class="alert alert-danger">
      Número ingresado no debe estar asociado a un contrato
      vigente con una compañía de telefonía móvi, a menos que sea la misma
      compañía que le presta servicios de telefonía a CCU en su país
    </div>
  </div>

  </div>

</body>
</html>
