<!DOCTYPE html>
<html lang="en">
<head>
  <title>Información de Usuario</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  </style>

  <script type="text/javascript">
  </script>

</head>
<body>

  <h4><strong> Datos de Solicitud BAM </strong></h4>

  <!-- Obtener nueva informacion del Formulario -->
  <div class="well form-horizontal">

  <div id= "bam_models" class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs"></div>
    <p class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-left">
      <%= form.label :model, 'Seleccione Modelo Bam' %>
    </p>

    <p class="col-lg-4 col-md-4 col-sm-4 col-xs-5 pull-left">
      <%= form.select :model, @bams, {}, style: 'width:100%' %>
    </p>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
  </div>

  <div id= "bam_plans" class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs"></div>
    <p class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-left">
      <%= form.label :plan, 'Seleccione Plan Bam' %>
    </p>

    <p class="col-lg-4 col-md-4 col-sm-4 col-xs-5 pull-left">
      <%= form.select :plan, @bam_plans[0], {}, style: 'width:100%' %>
    </p>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
  </div>

  <% @bam_plans[1].each do |plan| %>
    <div id= "bam_details_<%=plan[0]%>" class="field-center bam_details">
      <div class="alert alert-success"> <%=plan[1]%> </div>
    </div>
  <% end %>

  </div>

</body>
</html>
