<!DOCTYPE html>
<html lang="en">
<head>
  <title>Información de Usuario</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .row.content {height: 1150px}
  </style>

  <script type="text/javascript">
  </script>

</head>
<body>

  <div class="well form-horizontal">

  <!-- Obtener nueva informacion del Formulario -->
  <h4><strong> Datos de Solicitud BAM </strong></h4>
  <hr>

  <div id= "bam_models" class="field-center">
    <%= form.label :model, 'Seleccione Modelo Bam' %>
    <%= form.select :model, @bams, {} %>
  </div>

  <div id= "bam_plans" class="field-center">
    <br>
    <%= form.label :plan, 'Seleccione Plan BAM' %>
    <%= form.select :plan, @bam_plans[0], {} %>
  </div>

  <% @bam_plans[1].each do |plan| %>
    <div id= "bam_details_<%=plan[0]%>" class="field-center bam_details">
      <br>
      <div class="alert alert-success"> <%=plan[1]%> </div>
    </div>
  <% end %>

  </div>

</body>
</html>
