<!DOCTYPE html>
<html lang="en">
<head>
  <title>Información de Usuario</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .row.content {height: 800px}
    .text_area {
      vertical-align: top;
    }
  </style>
</head>
<body>

  <div class="well form-horizontal">

  <!-- Obtener nueva informacion del Formulario -->
  <h4><strong> Datos de Solicitud Roaming </strong></h4>
  <hr>

  <div  class="row">
    <div class="col-md-1"></div>
    <p class="col-md-5 text-left">
      <%= form.label :start_date, 'Fecha Inicio viaje' %>
      <%= form.date_field :start_date, min: Date.today %>
    </p>

    <p class="col-md-5 text-left">
      <%= form.label :end_date, 'Fecha Término viaje' %>
      <%= form.date_field :end_date, min: Date.today %>
    </p>
    <div class="col-md-1"></div>
  </div>

  <div  class="row">
    <div class="col-md-1"></div>
    <p class="col-md-5 text-left">
      <%= form.label :region, 'Región de destino' %>
      <%= form.select :region, [['Sudamérica', 'sudamerica'], ['Centroamérica', 'centroamerica'],
      ['Norteamérica', 'norteamerica'], ['Europa', 'europa'], ['Oceanía', 'oceania'],
      ['Asia', 'asia'], ['África', 'africa']], {}, id: "region" %>
    </p>

      <div id= "sudamerica" class="roaming_country col-md-5 text-left">
        <%= form.label :country, 'País de destino' %>
        <%= form.select :country, [['Argentina', 'argentina'], ['Bolivia', 'bolivia'],
        ['Brasil', 'brasil'], ['Colombia', 'colombia'], ['Ecuador', 'ecuador'],
        ['Paraguay', 'paraguay'], ['Perú', 'peru'] , ['Uruguay', 'uruguay'],
        ['Otro', 'otro']], {} %>
      </div>

      <div id= "centroamerica" class="roaming_country col-md-5 text-left">
        <%= form.label :country, 'País de destino' %>
        <%= form.select :country, [['Costa Rica', 'costa rica'], ['El Salvador', 'el salvador'],
        ['Guatemala', 'guatemala'], ['Honduras', 'honduras'], ['México', 'mexico'],
        ['Nicaragua', 'nicaragua'], ['Panamá', 'panama'] , ['Puerto Rico', 'puerto rico'],
        ['Otro', 'otro']], {} %>
      </div>

      <div id= "norteamerica" class="roaming_country col-md-5 text-left">
        <%= form.label :country, 'País de destino' %>
        <%= form.select :country, [['Estados Unidos', 'estados unidos'], ['Canadá', 'canada'],
        ['Otro', 'otro']], {} %>
      </div>

      <div id= "europa" class="roaming_country col-md-5 text-left">
        <%= form.label :country, 'País de destino' %>
        <%= form.select :country, [['Albania', 'albania'], ['Alemania', 'alemania'],
        ['Austria', 'austria'], ['Bélgica', 'belgica'], ['Croacia', 'croacia'],
        ['Dinamarca', 'dinamarca'], ['Escocia', 'escocia'] , ['Eslovaquia', 'eslovaquia'],
        ['España', 'españa'], ['Estonia', 'estonia'], ['Finlandia', 'finlandia'],
        ['Francia', 'francia'], ['Gales', 'gales'], ['Grecia', 'grecia'], ['Holanda', 'holanda'],
        ['Hungría', 'hungría'], ['Inglaterra', 'inglaterra'], ['Irlanda', 'irlanda'],
        ['Irlanda del Norte', 'irlanda del norte'], ['Italia', 'italia'], ['Letonia', 'letonia'],
        ['Lituania', 'lituania'], ['Luxemburgo', 'luxemburgo'] , ['Malta', 'malta'],
        ['Polonia', 'polonia'], ['Portugal', 'portugal'], ['República Checa', 'republica checa'],
        ['Rumania', 'rumania'], ['Rusia', 'rusia'], ['Suecia', 'suecia'],
        ['Suiza', 'suiza'], ['Ucrania', 'ucrania'], ['Noruega', 'noruega'], ['Otro', 'otro']], {} %>
      </div>

      <div id= "oceania" class="roaming_country col-md-5 text-left">
        <%= form.label :country, 'País de destino' %>
        <%= form.select :country, [['Australia', 'australia'], ['Nueva Zelanda', 'nueva zelanda'],
        ['Otro', 'otro']], {} %>
      </div>

      <div id= "asia" class="roaming_country col-md-5 text-left">
        <%= form.label :country, 'País de destino' %>
        <%= form.select :country, [['China', 'china'], ['Hong Kong', 'hong kong'],
        ['Japón', 'japon'], ['Israel', 'israel'], ['Pakistán', 'pakistán'],
        ['Singapur', 'singapur'], ['Taiwán', 'taiwan'], ['Otro', 'otro']], {} %>
      </div>

      <div id= "africa" class="roaming_country col-md-5 text-left">
        <%= form.label :country, 'País de destino' %>
        <%= form.select :country, [['Congo', 'congo'], ['Mozambique', 'mozambique'],
        ['Sudáfrica', 'sudafrica'], ['Tanzania', 'tanzania'], ['Otro', 'otro']], {} %>
      </div>
    <div class="col-md-1"></div>
  </div>

  <div  class="row">
    <div class="col-md-1"></div>
    <div id= "plan" class="col-md-5 text-left roaming_plan_bag">
      <%= form.label :plan, 'Planes' %>
      <%= form.select :plan, @roaming_plans[0], {} %>

      <% @roaming_plans[1].each do |plan| %>
        <div id= "details_<%=plan[0]%>" class="field-center roaming_details">
          <p></p>
          <div class="alert alert-success"> <%=plan[1]%> </div>
        </div>
      <% end %>
    </div>

    <div id= "bag" class="col-md-5 text-left roaming_plan_bag">
      <%= form.label :plan, 'Bolsas' %>
      <%= form.select :plan, @roaming_bags[0], {} %>
      <p></p>
      <div class="alert alert-danger"> Bolsa dura 30 dias y solo incluye plan de datos </div>
    </div>

    <div class="col-md-6 text-left text_area">
      <%= form.label :comment, 'Motivo Viaje' %>
      <%= text_area_tag :comment, nil, :rows => 4, :cols => 25, class: "text_area" %>
    </div>
  </div>

  </div>

</body>
</html>
