<!DOCTYPE html>
<html lang="en">
<head>
  <title>Información de Usuario</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if params[:action] == 'renew_form' %>
    <style>
      .row.content {height: 1080px}
    </style>
  <% elsif params[:action] == 'stolen_lost'%>
    <style>
      .row.content {height: 1350px}
    </style>
  <% end %>

  <script type="text/javascript">
  $(document).ready(function(){

    // Display all smartphones models
    var all_models = function(){
      var check = $("#checkbox").is(":checked");
        if(check){
          $("#select_all_models").show();
          $(".model_text").show();
          $("#models").hide();
        }
        else{
          $("#select_all_models").hide();
          $(".model_text").hide();
          $("#models").show();
        }
    };

    // Display Sim and Number menu
    var display_menus = function(){
      var w_sim = $('input:checked[name="want_sim"]').val();
      var w_number = $("#want_number option:selected").val();

      if(w_sim == 'true') {
          $("#want_number").show();
          if(w_number == 'port'){
              $("#number").show();
          }
          else{
              $("#number").hide();
          }
          if(w_number == 'same'){
              $("#same_number").show();
          }
          else{
              $("#same_number").hide();
          }

      }
      else{
          $("#want_number").hide();
          $("#same_number").hide();
          $("#number").hide();
      }
    };

    $('input[name="want_sim"]').change(display_menus);
    $("#want_number").change(display_menus);
    $("#show_all_models").change(all_models);
    $(all_models);
    $(display_menus);

  });
  </script>

</head>
<body>

  <div class="well form-horizontal">

  <!-- Obtener nueva informacion del Formulario -->
  <h4><strong> Datos de Solicitud Smartphone </strong></h4>
  <hr>

  <% if @user["request"] == "renew" %>
    <% if  @renew_date.has_key?(:sp) %>
      <% if (@renew_date[:sp] - DateTime.now).to_i > 0%>
        <div class="alert alert-danger">
          Faltan <%= (@renew_date[:sp] - DateTime.now).to_i %>
          dias para que termine el periodo de renovación. Al estar fuera de plazo
          se incurrirá en costos adicionales
        </div>
      <% else %>
        <div class="alert alert-sucess">
          Estas dentro del periodo en que te corresponde renovar tu dispositivo
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-danger">
        El sistema no posee la información sobre la fecha en que le corresponde renovación,
        se incurrirá en costos adicionales si su dispositivo no ha cumpĺido el periodo de
        24 meses
      </div>
    <% end %>
  <% end %>

  <div  id= "models" class="row">
    <div class="col-md-3"></div>
    <p class="col-md-3 text-left">
      <%= form.label :model_one, 'Seleccione Modelo' %>
    </p>

    <p class="col-md-3 text-left">
      <%= form.select :model_one, @cat_smartphones, {} %>
    </p>
    <div class="col-md-3"></div>
  </div>

  <div  id= "select_all_models" class="row">
    <div class="col-md-3"></div>
    <p class="col-md-3 text-left">
      <%= form.label :model_all, 'Seleccione Modelo' %>
    </p>

    <p class="col-md-3 text-left">
      <%= form.select :model_all, @all_smartphones, {} %>
    </p>
    <div class="col-md-3"></div>
  </div>

  <div  id= "show_all_models"  class="row">
    <div class="col-md-3"></div>
    <p class="col-md-6 alert alert-info">
        Mostrar modelos que no corresponden a mi cargo
        <%= form.check_box :want_all, { id: "checkbox" } %>
    </p>
    <div class="col-md-3"></div>
  </div>

  <div  id= "models" class="row model_text text_area">
    <div class="col-md-3 "></div>
    <p class="col-md-3 text-left">
      <%= form.label :comment , 'Motivo elección' %>
    </p>

    <p class="col-md-3 text-left">
      <%= text_area_tag :comment , nil, :rows => 4, :cols => 25,
      placeholder: "Describa brevemente el motivo de la elección del modelo"  %>
    </p>
    <div class="col-md-3"></div>
  </div>

  <div  id= "want_sim" class="row">
    <div class="col-md-3"></div>
    <p class="col-md-3 text-left">
      <%= form.label :want_sim, 'Incluir Tarjeta Sim?' %>
    </p>

    <p class="col-md-3 text-left">
      <%= form.collection_radio_buttons :want_sim, [[true, 'Si'], [false, 'No']], :first, :last,
    :item_wrapper_class => 'inline', checked: true%>
    </p>
    <div class="col-md-3"></div>
  </div>

  <div  id= "want_number" class="row">
    <div class="col-md-3"></div>
    <p class="col-md-3 text-left">
      <%= form.label :number_type, 'Desea un número nuevo?' %>
    </p>

    <p class="col-md-6 text-left">
      <%= form.select :number_type, [['No, quiero mantener mi número', 'same'],
      ['No, quiero portar otro número', 'port'], ['Si, quiero nuevo número', 'new']], {} %>
    </p>
  </div>

  <div id= "same_number" class="field-center">
    <% if @items.has_key?(:sp) %>
      <% if !@items[:sp].phone_number.to_s.empty? %>
        <div class="row">
          <div class="col-md-3"></div>
          <p class="col-md-3 text-left">
            <%= form.label :same_number, 'Número asignado: '%>
          </p>

          <p class="col-md-6 text-left">
            <%= form.label :same_number, '+56 9 '+@items[:sp].phone_number.to_s, class:"text-center", size: "12" %>
            <%= form.hidden_field :same_number, value: @items[:sp].phone_number.to_s %>
          </p>
        </div>

      <% else %>
        <div class="row">
          <div class="col-md-3"></div>
          <p class="col-md-3 text-left">
            <%= form.label :same_number, 'Ingrese Número: +56 9' %>
          </p>

          <p class="col-md-6 text-left">
            <%= form.text_field :same_number %>
          </p>
        </div>
        <div class="alert alert-danger">Smartphone no tiene un número de teléfono asignado en el sistema,
          Ingrese el número telefónico actual que tiene asociado a CCU</div>
      <% end %>

    <% else %>
    <div class="row">
      <div class="col-md-3"></div>
      <p class="col-md-3 text-left">
        <%= form.label :same_number, 'Ingrese Número: +56 9' %>
      </p>

      <p class="col-md-6 text-left">
        <%= form.text_field :same_number %>
      </p>
    </div>
    <div class="alert alert-danger">Usuario no tiene un Smartphone asignado en el sistema,
      si tiene un smartphone asociado a CCU ingrese el número telefónico del smarthpone</div>
    <% end %>
  </div>

  <div id= "number" class="field-center">
  <div class="row">
    <div class="col-md-3"></div>
    <p class="col-md-3 text-left">
      <%= form.label :phone_number, 'Ingrese Número: +56 9' %>
    </p>

    <p class="col-md-6 text-left">
      <%= form.text_field :phone_number %>
    </p>
  </div>

  <div class="alert alert-danger">
    Número ingresado no debe estar asociado a un contrato
    vigente con una compañía de telefonía móvi, a menos que sea la misma
    compañía que le presta servicios de telefonía a CCU en su país
  </div>
  </div>

  </div>

</body>
</html>
