<!DOCTYPE html>
<html lang="en">
<head>
  <title>Información de Usuario</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <% if params[:action] == 'renew_form' %>
    <style>
      .row.content {height: 800px}
      label {
        padding-top: 9px;
      }
    </style>
  <% elsif params[:action] == 'stolen_lost'%>
    <style>
      .row.content {height: 1130px}
      label {
        padding-top: 9px;
      }
    </style>
  <% else %>
    <style>
      .row.content {height: 500px}

      label {
        padding-top: 9px;
      }
    </style>
  <% end %>

  <script type="text/javascript">
  $(document).ready(function(){

    // Display plan details bam
    $("#bam_plans").change(function(){
        $("#bam_plans").find("option:selected").each(function(){
            var request = $(".select_1 option:selected").val();
            var detail = $("#bam_plans option:selected").val();
            $(".bam_details").hide()
            $("#bam_details_"+detail).show()
        });
    }).change();

  });
  </script>

</head>
<body>

  <div class="well form-horizontal">

  <!-- Obtener nueva informacion del Formulario -->
  <h4><strong> Datos de Solicitud BAM </strong></h4>
  <hr>

  <%= form.hidden_field :plan, value: @user["plan_id"]%>

  <% if @user["request"] == "renew" %>
    <% if  @renew_date.has_key?(:bam) %>
      <% if (@renew_date[:bam] - DateTime.now).to_i > 0 %>
        <div class="alert alert-danger">
          Faltan <%= (@renew_date[:bam] - DateTime.now).to_i %>
          dias para que termine el periodo de renovación. Al estar fuera de plazo
          se incurrirá en costos adicionales
        </div>
      <% else %>
        <div class="alert alert-success">
          Estas dentro del periodo en que te corresponde renovar tu dispositivo
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-danger">
        El sistema no posee la información sobre la fecha en que le corresponde renovación,
        se incurrirá en costos adicionales si su dispositivo no ha cumpĺido el periodo de
        24 meses
      </div>
    <% end %>

    <div  id= "select_all_models" class="row">
      <div class="col-md-3"></div>
      <p class="col-md-3 text-left">
        <%= form.label :model, 'Seleccione Modelo Bam' %>
      </p>

      <p class="col-md-3 text-left">
        <%= form.select :model, @bams, {} %>
      </p>
      <div class="col-md-3"></div>
    </div>

    <div class="alert alert-danger"> Se mantendrá el mismo plan asociado al
      dispositivo BAM</div>

  <% elsif  @user["request"] == "stolen/lost" %>

    <div id= "bam_models" class="row">
      <div class="col-md-3"></div>
      <p class="col-md-3 text-left">
        <%= form.label :model, 'Seleccione Modelo Bam' %>
      </p>

      <p class="col-md-3 text-left">
        <%= form.select :model, @bams, {} %>
      </p>
      <div class="col-md-3"></div>
    </div>

    <div id= "bam_plans" class="row">
      <div class="col-md-3"></div>
      <p class="col-md-3 text-left">
        <%= form.label :plan, 'Seleccione Plan Bam' %>
      </p>

      <p class="col-md-3 text-left">
        <%= form.select :plan, @bam_plans[0], {} %>
      </p>
      <div class="col-md-3"></div>
    </div>

    <% @bam_plans[1].each do |plan| %>
      <div id= "bam_details_<%=plan[0]%>" class="field-center bam_details">
        <div class="alert alert-success"> <%=plan[1]%> </div>
      </div>
    <% end %>

  <% end %>

  </div>

</body>
</html>
