<!DOCTYPE html>
<html lang="en">
<head>
  <title>Información de Usuario</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>

    .text_area * {
      vertical-align: middle;
    }

    .alert-info {
      margin-top: 5px;
      display:inline-block;
      vertical-align: middle;
      height: 50%;
      padding: 1px;
      margin-top: 1%;
      margin-bottom: 0%;
    }
  </style>

  <script type="text/javascript">
  $(document).ready(function(){

    // Display all smartphones models
    var all_models = function(){
      var check = $("#checkbox").is(":checked");
        if(check){
          $("#select_all_models").show();
          $(".model_text").show();
          $("#models").hide();
        }
        else{
          $("#select_all_models").hide();
          $(".model_text").hide();
          $("#models").show();
        }
    };

    // Display Sim and Number menu
    var display_menus = function(){
      var w_sim = $('input:checked[name="want_sim"]').val();
      var w_number = $("#want_number option:selected").val();

      if(w_sim == 'true') {
          $("#want_number").show();
          if(w_number == 'port'){
              $("#number").show();
          }
          else{
              $("#number").hide();
          }
          if(w_number == 'same'){
              $("#same_number").show();
          }
          else{
              $("#same_number").hide();
          }

      }
      else{
          $("#want_number").hide();
          $("#same_number").hide();
          $("#number").hide();
      }
    };

    $('input[name="want_sim"]').change(display_menus);
    $("#want_number").change(display_menus);
    $("#show_all_models").change(all_models);
    $(all_models);
    $(display_menus);

  });
  </script>

</head>
<body>

  <div class="well form-horizontal">

  <!-- Obtener nueva informacion del Formulario -->
  <h4><strong> Datos de Solicitud Smartphone </strong></h4>
  <hr>

  <% if @user["request"] == "renew" %>
    <% if  @renew_date.has_key?(:sp) %>
      <% if (@renew_date[:sp] - DateTime.now).to_i > 0%>
        <div class="alert alert-danger">
          Faltan <%= (@renew_date[:sp] - DateTime.now).to_i %>
          dias para que termine el periodo de renovación. Al estar fuera de plazo
          se incurrirá en costos adicionales
        </div>
      <% else %>
        <div class="alert alert-sucess">
          Estas dentro del periodo en que te corresponde renovar tu dispositivo
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-danger">
        El sistema no posee la información sobre la fecha en que le corresponde renovación,
        se incurrirá en costos adicionales si su dispositivo no ha cumpĺido el periodo de
        24 meses
      </div>
    <% end %>
  <% end %>

  <div id= "models" class="field-center">
    <%= form.label :model_one, 'Seleccione Modelo Smartphone' %>
    <%= form.select :model_one, @cat_smartphones, {} %>
  </div>

  <div id= "select_all_models" class="field-center">
    <%= form.label :model_all, 'Seleccione Modelo Smartphone' %>
    <%= form.select :model_all, @all_smartphones, {} %>
  </div>

  <div id= "show_all_models" class="field-center">
    <div class="alert alert-info">
      Mostrar modelos que no corresponden a mi cargo
      <%= form.check_box :want_all, { id: "checkbox" } %>
    </div>
  </div>

  <div class="field-center model_text text_area">
    <br>
    <%= form.label :comment , 'Motivo elección' %>
    <%= text_area_tag :comment , nil, :rows => 4, :cols => 25 %>
  </div>

  <div id= "want_sim" class="field-center">
  <br>
  <%= form.label :want_sim, 'Desea Incluir Tarjeta Sim?' %>
  <%= form.collection_radio_buttons :want_sim, [[true, 'Si'], [false, 'No']], :first, :last,
  :item_wrapper_class => 'inline', checked: true%>
  </div>

  <div id= "want_number" class="field-center">
    <br>
    <%= form.label :number_type, 'Desea un número nuevo?' %>
    <%= form.select :number_type, [['No, quiero mantener mi número', 'same'],
    ['No, quiero portar otro número', 'port'], ['Si, quiero nuevo número', 'new']], {} %>
  </div>

  <div id= "same_number" class="field-center">
    <br>
    <% if @items.has_key?(:sp) %>
      <% if !@items[:sp].phone_number.to_s.empty? %>
        <%= form.label :same_number, 'Número asignado: '%>
        <%= form.label :same_number, '+56 9 '+@items[:sp].phone_number.to_s, class:"text-center", size: "12" %>
        <%= form.hidden_field :same_number, value: @items[:sp].phone_number.to_s %>
      <% else %>
        <p></p>
        <div class="alert alert-danger">Smartphone no tiene un número de teléfono asignado en el sistema,
          Ingrese el número telefónico actual que tiene asociado a CCU</div>
        <br>
        <%= form.label :same_number, 'Ingrese Número: +56 9' %>
        <%= form.text_field :same_number %>
      <% end %>
    <% else %>
    <p></p>
    <div class="alert alert-danger">Usuario no tiene un Smartphone asignado en el sistema,
      si tiene un smartphone asociado a CCU ingrese el número telefónico del smarthpone</div>
      <br>
      <%= form.label :same_number, 'Ingrese Número: +56 9' %>
      <%= form.text_field :same_number %>
    <% end %>
  </div>

  <div id= "number" class="field-center">
  <br>
  <%= form.label :phone_number, 'Ingrese Número: +56 9' %>
  <%= form.text_field :phone_number %>
  </div>

  </div>

</body>
</html>
