<!DOCTYPE html>
<html lang="en">
<head>
  <title>Información de Usuario</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .row.content {height: 554px}
  </style>
</head>
<body>

  <div class="well form-horizontal">

  <!-- Obtener nueva informacion del Formulario -->
  <h4><strong> Datos de Solicitud Sim </strong></h4>
  <hr>

    <div id= "same_number" class="field-center">
      <% if @items.has_key?(:sim) %>
        <% if !@items[:sim].phone_number.to_s.empty? %>
          <div class="row">
            <div class="col-md-3"></div>
            <p class="col-md-4 text-right">
              <%= form.label :phone_number, 'Número asignado (+56 9): '%>
            </p>

            <p class="col-md-3 text-left">
              <%= form.label :phone_number, ' '+@items[:sim].phone_number.to_s %>
              <%= form.hidden_field :phone_number, value: @items[:sim].phone_number.to_s %>
            </p>
            <div class="col-md-2"></div>
          </div>

        <% else %>
          <p></p>
          <div class="alert alert-danger">Sim no tiene un número de teléfono asignado en el sistema,
            Ingrese el número telefónico actual que tiene asociado a CCU</div>
            <div class="row">
              <div class="col-md-3"></div>
              <p class="col-md-4 text-right">
                <%= form.label :phone_number, 'Ingrese Número (+56 9):' %>
              </p>

              <p class="col-md-3 text-left">
                <%= form.text_field :phone_number, size: 8 %>
              </p>
              <div class="col-md-2"></div>
            </div>
        <% end %>

      <% else %>
      <p></p>
      <div class="alert alert-danger">Usuario no tiene una Sim asignada en el sistema,
        si tiene una Sim asociada a CCU ingrese el número telefónico de la Sim</div>
        <div class="row">
          <div class="col-md-3"></div>
          <p class="col-md-4 text-right">
            <%= form.label :phone_number, 'Ingrese Número (+56 9):' %>
          </p>

          <p class="col-md-3 text-left">
            <%= form.text_field :phone_number, size: 8 %>
          </p>
          <div class="col-md-2"></div>
        </div>
      <% end %>
    </div>

  </div>

</body>
</html>
