<!DOCTYPE html>
<html lang="en">
<head>
  <title>Información de Usuario</title>
  <meta charset="utf-8">
  <style>

    hr {
      margin-top: 3px;
      margin-bottom: 3px;
      padding: 0px;
    }

    .btn {
      margin-top: 10px;
    }

  </style>

  <script type="text/javascript">
  $(document).ready(function(){

    // Submit Event
    $("#clear").click(function(e){
      $('#1').val('');
      $('#2').val('');
      $('#3').val('');
      $('#4').val('');
      $('#5').val('');
      $('#6').val('');

    });

  });
  </script>

</head>
<body>

  <hr>
  <h4><strong>Filtros</strong></h4>
  <hr>

  <div class="container-fluid">
    <%= search_form_for @search do |form|%>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-left">
          <%= form.label :status_cont, "Estado", class: "pull-left"%>
          <%= form.text_field :status_cont, placeholder: "search", class: "pull-right",
          size: "15", id: "1"%>
        </div>
        <div class="col-md-3">
          <%= form.label :company_cont, "Empresa", class: "pull-left"%>
          <%= form.text_field :company_cont, placeholder: "search", class: "pull-right",
          size: "15", id: "2"%>
        </div>
        <div class="col-md-3 text-left">
          <%= form.label :deptname_cont, "C. Costo", class: "pull-left"%>
          <%= form.text_field :deptname_cont, placeholder: "search", class: "pull-right",
          size: "15", id: "3"%>
        </div>
        <div class="col-sm-2 text-left"></div>
      </div>
      <hr>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-left">
          <%= form.label :name_cont, "Nombre", class: "pull-left"%>
          <%= form.text_field :name_cont, placeholder: "search", class: "pull-right",
          size: "15", id: "4"%>
        </div>
        <div class="col-md-3 text-left">
          <%= form.label :national_id_cont, "R.U.T", class: "pull-left"%>
          <%= form.text_field :national_id_cont, placeholder: "search", class: "pull-right",
          size: "15", id: "5"%>
        </div>
        <div class="col-md-3 text-left">
          <%= form.label :email_cont, "Correo", class: "pull-left"%>
          <%= form.text_field :email_cont, placeholder: "search", class: "pull-right",
          size: "15", id: "6"%>
        </div>
        <div class="col-md-2 text-left"></div>
      </div>
      <hr>

      <div class="row">
        <%= form.submit "Search", class: "btn btn-success btn-md"%>
        <%= form.button "Clear Filters", class: "btn btn-info btn-md", id: "clear" %>
      </div>
    <% end %>
  </div>
  <br>

</body>
</html>
