<!DOCTYPE html>
<html lang="en">
<head>
  <title>Información de Usuario</title>
  <meta charset="utf-8">
  <style>

    hr {
      margin-top: 3px;
      margin-bottom: 3px;
      padding: 0px;
    }

    .btn-info{
      margin-top: 10px;
    }

  </style>
</head>
<body>

  <hr>
  <h4><strong>Filtros</strong></h4>
  <hr>

  <div class="container-fluid">
    <%= search_form_for @search do |form|%>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3 text-left">
          <%= form.label :status_eq, "Estado", class: "pull-left"%>
          <%= form.text_field :status_eq, placeholder: "search", class: "pull-right", size: "15"%>
        </div>
        <div class="col-sm-3">
          <%= form.label :company_eq, "Empresa", class: "pull-left"%>
          <%= form.text_field :company_eq, placeholder: "search", class: "pull-right", size: "15"%>
        </div>
        <div class="col-sm-3 text-left">
          <%= form.label :deptname_eq, "C. Costo", class: "pull-left"%>
          <%= form.text_field :deptname_eq, placeholder: "search", class: "pull-right", size: "15"%>
        </div>
        <div class="col-sm-2 text-left"></div>
      </div>
      <hr>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3 text-left">
          <%= form.label :name_cont, "Nombre", class: "pull-left"%>
          <%= form.text_field :name_cont, placeholder: "search", class: "pull-right", size: "15"%>
        </div>
        <div class="col-sm-3 text-left">
          <%= form.label :national_id_cont, "Rut", class: "pull-left"%>
          <%= form.text_field :national_id_cont, placeholder: "search", class: "pull-right", size: "15"%>
        </div>
        <div class="col-sm-3 text-left">
          <%= form.label :email_cont, "Correo", class: "pull-left"%>
          <%= form.text_field :email_cont, placeholder: "search", class: "pull-right", size: "15"%>
        </div>
        <div class="col-sm-2 text-left"></div>
      </div>
      <hr>

      <div class="row">
        <%= form.submit "Search", class: "btn btn-info btn-md"%>
        <%= form.button "Clear", class: "btn btn-info btn-md"%>
      </div>
    <% end %>
  </div>
  <br>

</body>
</html>
