<!DOCTYPE html>
<html lang="en">
<head>
  <title>Información de Usuario</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  </style>

  <script type="text/javascript">
  $(document).ready(function(){

    // Display file name
    var display_file = function(){
      var file = $.trim($('input[name="file"]').val());
      if(file.length != 0) {
        $("#btn_color").attr('class', "btn btn-success btn-md")
        $("#text_2").show();
        $("#text_1").hide();
      }
      else{
        $("#btn_color").attr('class', "btn btn-default btn-md")
        $("#text_2").hide();
        $("#text_1").show();
      }
    };

    $('input[name="file"]').change(display_file);
    $(display_file);

  });
  </script>


</head>
<body>

  <div class="well form-horizontal">

  <!-- Obtener nueva informacion del Formulario -->
  <h4><strong> Datos de Pérdida/Robo </strong></h4>
  <hr>

  <!-- Fecha robo/perdida -->
  <div class="row">
    <div class="col-md-3"></div>
    <p class="col-md-3 text-left">
      <%= form.label :start_date, 'Fecha Robo/Pérdida' %>
    </p>
    <p class="col-md-3 pull-left">
      <%= form.date_field :start_date, max: Date.today %>
    </p>
    <div class="col-md-3"></div>
  </div>

  <!-- Constancia Carabineros -->
  <div class="row">
    <div class="col-md-3"></div>
    <p class="col-md-3 text-left">
      <%= form.label :file, 'Constancia Carabineros' %>
    </p>
    <div class="col-md-3 pull-left">
      <label id= "btn_color" class="btn btn-default btn-md">
      <div id= "text_1">
        Subir Archivo...
      </div>
      <div id= "text_2">
        Archivo Cargado
      </div>
      <span style="display:none">
        <%= form.file_field :file, multiple: false, name: "file",
        accept: 'image/png,image/gif,image/jpeg' %>
      </span>
      </label>
    </div>
    <div class="col-md-3"></div>
  </div>

  <!-- Descripcion robo/perdida-->
  <br>
  <div class="row">
    <div class="col-md-3"></div>
    <p class="col-md-3 text-left">
      <%= form.label :comment_stolen_lost, 'Descripción Robo/Pérdida' %>
    </p>
    <p class="col-md-3 pull-left">
      <%= text_area_tag :comment_stolen_lost, nil, rows: 4, cols: 25,
      placeholder: "Describa brevemente el robo/pérdida" %>
    </p>
    <div class="col-md-3"></div>
  </div>

  </div>

</body>
</html>
