<!DOCTYPE html>
<html lang="en">
<head>
  <title>Información de Usuario</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  .text_area * {
    vertical-align: middle;
  }

  .alert-success {
    margin-top: 5px;
    display:inline-block;
    vertical-align: middle;
    height: 50%;
    padding: 1px;
    margin-top: 1%;
    margin-bottom: 0%;
  }
  </style>

  <%= javascript_include_tag "jquery.min" %>

  <script type="text/javascript">
  $(document).ready(function(){

    // Display file name
    var display_file = function(){
      var file = $.trim($('input[name="file"]').val());
      if(file.length != 0) {
        $("#btn_color").attr('class', "btn btn-success btn-md")
        $("#text_2").show();
        $("#text_1").hide();
      }
      else{
        $("#btn_color").attr('class', "btn btn-default btn-md")
        $("#text_2").hide();
        $("#text_1").show();
      }
    };

    $('input[name="file"]').change(display_file);
    $(display_file);

  });
  </script>


</head>
<body>

  <div class="well form-horizontal">

  <!-- Obtener nueva informacion del Formulario -->
  <h4><strong> Datos de Pérdida/Robo </strong></h4>
  <hr>

  <!-- Fecha robo/perdida -->
  <div class="field-center">
    <br>
    <%= form.label :start_date, 'Fecha Robo/Pérdida' %>
    <%= form.date_field :start_date, max: Date.today %>
  </div>
  <!-- Constancia Carabineros -->
  <div class="field-center">
    <br>
    <%= form.label :file, 'Constancia Carabineros' %>
    <label id= "btn_color" class="btn btn-default btn-md">
    <div id= "text_1">
      Subir Archivo...
    </div>
    <div id= "text_2">
      Archivo Cargado
    </div>
    <span style="display:none">
      <%= form.file_field :file, required: true, multiple: false, name: "file", accept: 'image/png,image/gif,image/jpeg' %>
    </span>
    </label>
  </div>

  <!-- Descripcion robo/perdida-->
  <div class="field-center text_area">
    <br>
    <%= form.label :comment, 'Descripción Robo/Pérdida' %>
    <%= text_area_tag :comment, nil, :rows => 4, :cols => 25 %>
  </div>

  </div>

</body>
</html>
