<!DOCTYPE html>
<html lang="en">
<head>
  <title>Información de Usuario</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  </style>
</head>
<body>
  <h4><strong> Datos del Usuario</strong></h4>
  <hr>

    <div class="field-center">
        <%= form.label :name, 'Name' %>
        <%= form.text_field :name, value: @user["name"], disabled: true, class:"text-center", size: "30" %>
    </div>

    <div class="field-center">
        <%= form.label :last_name, 'Last Name' %>
        <%= form.text_field :last_name, value: @user["last_name"], disabled: true, class:"text-center", size: "30" %>
    </div>

    <div class="field-center">
        <%= form.label :national_id, 'National id' %>
        <%= form.text_field :national_id, value: @user["national_id"], disabled: true, class:"text-center", size: "30" %>
    </div>

    <div class="field-center">
        <%= form.label :email, 'e-mail' %>
        <%= form.text_field :email, value: @user["email"], disabled: true, class:"text-center", size: "30" %>
    </div>

    <div class="field-center">
        <%= form.label :jobtitle, 'Job Title' %>
        <%= form.text_field :jobtitle, value: @user["jobtitle"], disabled: true, class:"text-center", size: "30" %>
    </div>

    <div class="field-center">
        <%= form.label :supervisor, 'Supervisor RUT' %>
        <%= form.text_field :supervisor, value: @user["supervisor"], disabled: true, class:"text-center", size: "30" %>
    </div>

    <div class="field-center">
        <%= form.label :company, 'Company' %>
        <%= form.text_field :company, value: @user["company"], disabled: true, class:"text-center", size: "30" %>
    </div>

    <div class="field-center">
        <%= form.label :deptname, 'Departament' %>
        <%= form.text_field :deptname, value: @user["deptname"], disabled: true, class:"text-center", size: "30" %>
    </div>

    <div class="field-center">
        <%= form.label :business_unit, 'Business Unit' %>
        <%= form.text_field :business_unit, value: @user["business_unit"], disabled: true, class:"text-center", size: "30" %>
    </div>

    <div class="field-center">
        <%= form.label :location, 'Location' %>
        <%= form.text_field :location, value: @user["location"], disabled: true, class:"text-center", size: "30" %>
    </div>

</body>
</html>
