<!DOCTYPE html>
<html lang="en">
<head>
  <title>Información de Usuario</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  </style>
</head>
<body>
  <h4><strong> Datos del Usuario</strong></h4>
  <hr>

    <div class="field-center">
        <%= form.label :name, 'Nombre' %>
        <%= form.text_field :name, value: @user["name"], disabled: true, class:"text-center", size: "30" %>
    </div>

    <div class="field-center">
        <%= form.label :last_name, 'Apellidos' %>
        <%= form.text_field :last_name, value: @user["last_name"], disabled: true, class:"text-center", size: "30" %>
    </div>

    <div class="field-center">
        <%= form.label :national_id, 'Rut' %>
        <%= form.text_field :national_id, value: @user["national_id"], disabled: true, class:"text-center", size: "30" %>
    </div>

    <div class="field-center">
        <%= form.label :email, 'e-mail' %>
        <%= form.text_field :email, value: @user["email"], disabled: true, class:"text-center", size: "30" %>
    </div>

    <div class="field-center">
        <%= form.label :jobtitle, 'Cargo' %>
        <%= form.text_field :jobtitle, value: @user["jobtitle"], disabled: true, class:"text-center", size: "30" %>
    </div>

    <div class="field-center">
        <%= form.label :job_family, 'Familia del Cargo' %>
        <%= form.text_field :job_family, value: @user["job_family"], disabled: true, class:"text-center", size: "30" %>
    </div>

    <div class="field-center">
        <%= form.label :company, 'Empresa' %>
        <%= form.text_field :company, value: @user["company"], disabled: true, class:"text-center", size: "30" %>
    </div>

    <div class="field-center">
        <%= form.label :country, 'Pais' %>
        <%= form.text_field :country, value: @user["country"], disabled: true, class:"text-center", size: "30" %>
    </div>

    <div class="field-center">
        <%= form.label :deptname, 'Centro de Costos' %>
        <%= form.text_field :deptname, value: @user["deptname"], disabled: true, class:"text-center", size: "30" %>
    </div>

    <div class="field-center">
        <%= form.label :location, 'Ubicación' %>
        <%= form.text_field :location, value: @user["location"], disabled: true, class:"text-center", size: "30" %>
    </div>

    <div class="field-center">
        <%= form.label :supervisor, 'Supervisor' %>
        <%= form.text_field :supervisor, value: @user["supervisor"], disabled: true, class:"text-center", size: "30" %>
    </div>

    <div class="field-center">
        <%= form.label :supervisor, 'Cargo Supervisor' %>
        <%= form.text_field :supervisor, value: @user["supervisor_jobtitle"], disabled: true, class:"text-center", size: "30" %>
    </div>

    <div class="field-center">
        <%= form.label :supervisor_email, 'Correo Supervisor' %>
        <%= form.text_field :supervisor_email, value: @user["supervisor_email"], disabled: true, class:"text-center", size: "30" %>
    </div>

</body>
</html>
