<!DOCTYPE html>
<html lang="en">
<head>
  <title>Solicitud Celulares CCU</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= javascript_include_tag "jquery.min" %>
  <%= stylesheet_link_tag "home_style.min" %>
  <%= javascript_include_tag "bootstrapValidator" %>

  <style>
    /* Remove the navbar's default margin-bottom and rounded borders, color dark green */
    .navbar {
      margin: 0px;
      background-color: #003F2A;
      padding: 0px;
      text-align: center;
      vertical-align: middle;
    }

    .navbar .navbar-nav {
      display: inline-block;
      float: none;
    }

    /* Set white background white and 100% height */
    .sidenav2 {
      padding-top: 20px;
      background-color: #ffffff;
      height: 100%;
    }

  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <h4>
        <ul class="nav navbar-nav text-left">
            <li ><a href="/">Home</a></li>
            <li ><a href="/requests">Solicitudes</a></li>
            <li ><a href="/users">Usuarios</a></li>
            <li ><a href="/smartphones">Smartphones</a></li>
            <li ><a href="/bams">Bams</a></li>
            <li ><a href="/plans">Planes</a></li>
            <li ><a href="/sims">Sims</a></li>
            <li ><a href="/admins/logout">Logout</a></li>
        </ul>
      </h4>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-1 sidenav2">
      <%= image_tag "ccu_log.png", :size => '80x40', :align=> "middle" %>
    </div>
    <div class="col-sm-10 text-center">
        <%= yield %>
    </div>
    <div class="col-sm-1 sidenav2">
      <%= image_tag "ccu_log.png", :size => '80x40', :align=> "middle" %>
    </div>
  </div>
</div>

</body>
</html>
