<!DOCTYPE html>
<html lang="en">
<head>
  <title>Solicitud Celulares CCU</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "home_style.min" %>
  <style>

    h2 {
      margin: 0;
    }

    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    html {
      position: relative;
      min-height: 100%;
    }
    body {
      /* Margin bottom by footer height */
      margin-bottom: 50px;
      padding: 0;
    }

    /* Remove the navbar's default margin-bottom and rounded borders, color dark green */
    .navbar {
      margin: 0px;
      background-color: #003F2A;
      padding: 0px;
      text-align: center;
      vertical-align: middle;
    }

    .navbar .navbar-nav {
      display: inline-block;
      float: none;
    }

    .navbar .navbar-collapse {
      text-align: center;
    }

    /* Set white background white and 100% height */
    .sidenav2 {
      padding-top: 20px;
      background-color: #ffffff;
      height: 100%;
    }

    /* Set black background dark green, white text and some padding */
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50px;
      margin-bottom: 0;
      padding-bottom: 0;
      background-color: #003F2A;
      color: white;
    }
  </style>

  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "sweetalert-dev" %>
  <%= stylesheet_link_tag "sweetalert" %>

  <script type="text/javascript">
  $(document).ready(function(){
    // Display secondary menus
    errors = $('#errors').val();
    swal({
      title: 'A Ocurrido un Error al Procesar la Solicitud',
      text: 'Reintente en unos segundos más '+ errors,
      type: 'error',
      confirmButtonText: 'Aceptar',
      confirmButtonColor: "#DD6B55",
    });
  });
  </script>

</head>
<body>
<%= hidden_field_tag :errors, params[:errors] %>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <h4>
        <ul class="nav navbar-nav text-left">
            <li ><a href="/">Home</a></li>
            <li ><a href="/requests/home/menu">Solicitudes</a></li>
            <li ><a href="/requests/home/downloads">Documentos</a></li>
            <li ><a href="/requests/home/support">Ayuda y Soporte</a></li>
            <li ><a href="/requests/home/faq">Q & A</a></li>
            <li ><a href="/admins/login">Admin</a></li>
        </ul>
    </h4>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-lg-2 col-md-2 col-sm-1 hidden-xs sidenav2">
      <%= image_tag "ccu_log.png", :size => '80x40', :align=> "middle" %>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 text-center">
      <hr>
      <h2><strong>Web Solicitud Celulares CCU</strong></h2>
      <hr>
      <h3>Descripción Página</h3>
      <p>...</p>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-1 hidden-xs sidenav2">
      <%= image_tag "ccu_log.png", :size => '80x40', :align=> "middle" %>
    </div>
  </div>
</div>

<div class="container-fluid text-center">
  <div class="row">
    <div class="footer col-lg-12 col-md-12 col-sm-12 hidden-xs">
      <p>2018. CCU S.A. Todos los derechos reservados. "CCU" es una marcas registradas
        de CCU. Vitacura 2670, Las Condes. Santiago Chile. Teléfonos: Atención al Cliente:
        600 4 502 502 | Atención al Consumidor: 800 366 366.</p>
    </div>
    <div class="footer hidden-lg hidden-md hidden-sm col-xs-12">
      <p> 2018. CCU S.A. Todos los derechos reservados. </p>
    </div>
  </div>
</div>

</body>
</html>
